{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
   {{parent()}}   
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    <section class ="formulaire mt-1 col-sm-3">
    <a class="navbar-brand" href="#">{{ title }}</a>
        <div id="content"> 
            {{form_start(formgroupe, {
                'attr' :{
                    'enctype' : 'multipart/form-data',
                }})
            }}  
            {{form_row(formgroupe.name)}} 
            {{form_row(formgroupe.paraOne)}}
            {{form_row(formgroupe.datecreation)}}
            {{form_widget(formgroupe.picture, { 'id': 'preview' })}}
            {{form_row(formgroupe.facebook)}}
            {{form_row(formgroupe.instagram)}}
            {{form_row(formgroupe.bandcamp)}}
            {{form_row(formgroupe.label)}}
            {{ form_end(formgroupe) }}
        <div id="prev"> </div>
        </div>
    </section>
 {% if groupes is defined %}
    <section class="groupes"> 
        {% for groupe in groupes %}
        <div class="col-sm-4">
                <h3 class="card-header"> {{ groupe.name }}</h3>
                <div class="card-body">
                    <h5 class="card-title"> {{ groupe.datecreation|date('Y-d-m') }}</h5>
                    <img src="/assets/pictures/{{groupe.picture}}" alt="" style="width:100%; height:200px; object-fit:cover">
                </div>
                <div class="card-body">
                    <p class="card-text"> {{groupe.paraOne}}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Albums </h5>
                    <ul class="list-group list-group-flush">
                            {% for album in groupe.albums %}
                            <li class="list-group-item"> Titre : <a href="{{path('update_album', {id:album.id})}}"> {{ album.name }}
                                {% for soundPosition in album.soundPositions %}
                                <p style="float:right;"> {{ soundPosition.soundtrack.number }} </p>  </li> 
                                {% endfor %} 
                            {% endfor %} 
                    </ul>
                    <div class="so">
                            {% if groupe.facebook is defined %}
                            <i class="fab fa-facebook-square"></i> 
                            {% endif %}
                            {% if groupe.instagram is defined %}
                            <i class="fab fa-instagram"></i>
                            {% endif %}
                            {% if groupe.bandcamp is defined %}
                            <i class="fab fa-bandcamp"></i>
                            {% endif %}
                        </div>
                    <div class="card-body">
                            <a href="{{path('update_groupe', {id:groupe.id})}}" class="card-link">Modifier </a>
                            <a href="{{path('del_groupe', {id:groupe.id})}}" class="card-link"> Supprimer </a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </section> 
    {% endif %}
</section>  
{% endblock body %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function miniature(fileInput, prev) {
        function creationImage(file, prev, i) {
             if (prev.getElementsByTagName('img').length == i) {
                  function creationBalise() {
                       var imgElement = document.createElement('img');
                       imgElement.style.maxWidth = '250px';
                       imgElement.style.maxHeight = '250px';
                       imgElement.src = this.result;
                       prev.appendChild(imgElement);
                  }
                  var reader = new FileReader();
                  reader.addEventListener('load', creationBalise);
                  reader.readAsDataURL(file);
             }
             else {
                  var timer = setTimeout(function(){creationImage(file, prev, i);}, 250);
             }
        }

        var allowedTypes = ['png', 'jpg', 'jpeg', 'gif'];
        var nomFiles = [];
        var files = fileInput.files;
        var filesLen = files.length;
        var imgType;
           
        for (var i = 0; i < filesLen; i++) {
             nomFiles.push(files[i].name);
             imgType = files[i].name.split('.');
             imgType = imgType[imgType.length - 1];
             if (allowedTypes.indexOf(imgType) != -1) {
                  creationImage(files[i], prev, i);
             }
        }
           
        var noms = nomFiles.join(" / ");
        prev.innerHTML = '<p>Il y a '+ filesLen +' fichier(s)<br/>'+noms+'</p>';     
   }  
   document.getElementById('preview').addEventListener('change', function(){
        var fileInput = document.getElementById('preview');
        var prev = document.getElementById('prev');
        miniature(fileInput, prev);	
   }, false);

</script>

<script> 
        var json = '{{json}}';
        var path = '{{path}}';
        console.log(json);
        path = path.replace(path, '/assets/pictures/'); 
        let cleanFiles = []
        var split = (json.split('&quot;,&quot'))
        split.forEach(function(i){
            let link = i.toString().replace('[&quot' && '&quot;]', '')
            let e = link.replace('[&quot;','')
            let j = e.replace(';','')
            cleanFiles.push(j.replace(';'+path, ''))
        })
        console.log(cleanFiles);
        backgrounds = document.getElementsByClassName('bgiconcert')// Je récupère la class du background-image
        console.log(backgrounds)
        Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
        var i = 0; 
        Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
        var background = path+cleanFiles[i]
    
        
            i++; // J'incrémente la variable afin de parcourir le tableau d'pictures.
           e.style.backgroundSize = '100%'
           e.style.backgroundRepeat = "no-repeat"
           e.style.objectFit = 'fill'
           e.style.backgroundPosition ="center"
           e.style.backgroundImage = "url("+background+")";
           return e;
             // A chaque section de groupe (e) j'attribue son background.
        })  
    </script>
{{parent()}}
{% endblock javascripts %}