{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    {% if form is defined  %}
    <div class ="formulaire mx-auto col-sm-3">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
    </div>
    {% endif %}

    {% if soundtracks is defined %}
    <table class="table mt-4 mr-4 col-sm-8"> 
        <thead>
            <tr>
                <th>Title</th>
                {# <th>Duration</th> #}
                <th>n°</th>
                <th>Sound </th>
                <th>Options </th>
                {# <th>Album</th> #}
            </tr>
        </thead>
        {% for soundPosition in soundtracks %}
        <tbody>
            <tr class="table  sm-4">            
                <td>{{soundPosition.soundtrack}} </td>
                <td> {{ soundPosition.position }} </td>
                <td> {{ soundPosition.album }} </td>
                <td>
                 <a href="{{path('update_soundtrack', {id:soundPosition.soundtrack.id})}}"> <button class="btn btn-outline-primary btn-sm" type="button"> Modifier </button> </a> 
                <a href="{{path('del_soundtrack', {id:soundPosition.soundtrack.id})}}"> <button class="btn btn-outline-secondary btn-sm" type="button"> Supprimer </button> </a> 
            </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %} 
</section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}