{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    {% if form is defined  %}
    <div class ="formulaire col-sm-4">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
    </div>
    {% endif %}

    {% if soundtracks is defined %}
    <table class="table col-sm-4"> 
        <thead>
            <tr>
                <th>Title</th>
                {# <th>Duration</th> #}
                <th>n°</th>
                <th>Sound </th>
                <th>Options </th>
                {# <th>Album</th> #}
            </tr>
        </thead>
        {% for soundtrack in soundtracks %}
        <tbody>
            <tr class="table sm-8">
                <td> {{ soundtrack.name }}  </td>
                <td> 
                <audio controls>
                <source src="/assets/musics/{{soundtrack.soundFileName}}" type="audio/mp3">
                </audio>
            <td>
                 <a href="{{path('update_soundtrack', {id:soundtrack.id})}}"> <button class="btn btn-outline-primary btn-sm" type="button"> Modifier </button> </a> 
                 </td>
                 <td>
                <a href="{{path('del_soundtrack', {id:soundtrack.id})}}"> <button class="btn btn-outline-secondary btn-sm" type="button"> Supprimer </button> </a> 
            </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %} 
</section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}