{% extends 'base.html.twig' %}

{% block title %} DISTOTAL PROD | SHOP{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}
 
{% block body %}
   
<section class="wrapper __border">
        <div class="modal" id="id05">
            <div class="modal-content animate">
                <div class="container">
                    <form method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <button class="btn btn-lg btn-primary" type="submit" style='color:black'>
                        Send
                    </button>
                    </div>
                    </form>
                <div class="container" style="background-color:#f1f1f1">
                </div>
            </div>
        </div> 
</section>
{% endblock %}

{% block javascripts %}
<script>
    
</script>

<script>
        var nav = document.querySelectorAll('.smooth-scroll')
        console.log(nav)
        for(let i = 0; i < nav.length; i ++){
            nav[i].style.display = 'none'
        }
     
     </script>

     <script>
            document.addEventListener('DOMContentLoaded', function(){
                document.getElementById('id05').style.display='block'
    
            })
        </script>

{% endblock javascripts %}