{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}

{% block body %}
<div class="loginContainer">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> 

    <br>

    <a  href="{{ path('register') }}"> Register </a> <br>
    <a  href="{{ path('forgotten_password') }}"> Mot de passe oublié ? </a> <br>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" style="color:black" type="submit">
        Sign in
    </button>
</form>
</div>
{% endblock %}


{% block javascripts %}
<script>
 var nav = Array.from(document.getElementsByClassName('alignNav'))
 nav.forEach(function(e){
 e.style.display ="none"
 })
</script>
{% endblock %}
