{% extends 'base.html.twig' %}
{% block title %}Reset Password !{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}
 
{% block body %}

<section class="wrapper __border">
        <div class="modal" id="id06">
            <div class="modal-content animate">
                <div class="container">
                        <form method="post">
                                <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <input type="hidden" name="token" value="{{ token }}">
                         
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Register
                                </button>
                            </form>    
                <div class="container" style="background-color:#f1f1f1">
                </div>
            </div>
        </div> 
</section>
{% endblock %}

{% block javascripts %}
<script>
        var nav = document.querySelectorAll('.smooth-scroll')
        console.log(nav)
        for(let i = 0; i < nav.length; i ++){
            nav[i].style.display = 'none'
        }
     
     </script>

     <script>
            document.addEventListener('DOMContentLoaded', function(){
                document.getElementById('id06').style.display='block'
    
            })
        </script>
{% endblock %}