{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="offset"></div>
<!-- Slideshow container -->
<div class="slideshow-container">
    <!-- Full-width pictures with number and caption text -->
    {% for article in news %}
    <div class="mySlides fade">
      <div class="slideImg"  style="width:100%">
     
      </div>
    </div>
    {% endfor %}

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
  
  <!-- The circles/socials -->
  <div class="hr">
  <div style="text-align:center">
      {% for key, article in news %}
      <span class="dot" onclick="currentSlide('{{key}}')"></span> 
    {% endfor %}
  </div>

</div>

   
<section class="about">
    <div class="cont">
        <div class="form sign-in">
            <div class="apropos">
            <h3> A PROPOS </h3>
            <br>
            <p> {{ label.paraOne }} </p> <br>
            <p> {{ label.paraTwo }} </p> <br>
            <p> {{ label.paraThree }} </p> <br>
            </div>
        </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
            <h3>NEWSLETTER </h3>
          </div>
          <div class="img__text m--in">
            <h3> DISTOTAL PROD </h3>
            <p>  </p>
          </div>
          <div class="img__btn">
            <span class="m--up">SUIVEZ-NOUS </span>
            <span class="m--in">A PROPOS </span>
          </div>
        </div>
        <div class="form sign-up">
          <div class="newletter">
          <object data="{{ asset('assets/logo/logosvg.svg') }}" type=""> 
          </object>
          <div class="formulaire"> 
            <div class="color">
              {{ form_start(form)}}
              {{ form_row(form.lastname, { 'label': 'Nom' }) }}
              {{ form_row(form.firstname, { 'label': 'Prénom' }) }}
              {{ form_row(form.email_address , { 'label': 'Email' }) }}
              {{ form_row(form.save , { 'label': 'Envoyer' }) }}
              {{ form_end(form)}}  
            </div>  
            <div class="social">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-bandcamp"></i>
            </div>     
          </div> 
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous">
</script>
<script>
// script galery 
var elements = document.getElementsByClassName("column");
var i;
function one() {
for (i = 0; i < elements.length; i++) {
elements[i].style.flex = "100%";
}
}
function two() {
for (i = 0; i < elements.length; i++) {
elements[i].style.flex = "50%";
}
}
function four() {
for (i = 0; i < elements.length; i++) {
elements[i].style.flex = "25%";
}
};
</script>

<script>
  document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
//before we even start fix the annoying select-cursor bug in Chrome:
document.onselectstart=function(e){e.preventDefault();return false;};
//create handles for elements that were instantiated in the HTML markup:
var slider = document.getElementById('slider'),
track = document.getElementById('track'),
percentage = document.getElementById('percentage');
//initial states variables, append to their elements:
document.mouseState = 'up';
slider.mouseState = 'up';
slider.lastMousePosY = null;
slider.proposedNewPosY = 0;
slider.percentage = null;

slider.style.top = '0px';
slider.style.height = '50px';
track.style.top = '20px';
track.style.height = '350px';

document.onmousedown = function () {
document.mouseState = 'down';
};
document.onmouseup = function () {
document.mouseState = 'up';
slider.mouseState = 'up';
};
//Slider mouse event functions:
slider.onmousedown = function(e) {
slider.lastMousePosY = e.pageY;  //<-this is so that if you lift the mouse, move it and grab the slider again, it will not jump.
slider.mouseState = 'down';
document.mouseState = 'down';
};
slider.onmouseup = function(e) {
slider.mouseState = 'up';
document.mouseState = 'up';
};

var getAtInt = function getAtInt(obj, attrib) {
return parseInt(obj.style[attrib], 10);
};
document.onmousemove  = function(e) {

if ((document.mouseState === 'down') && (slider.mouseState === 'down')) {
slider.proposedNewPosY = getAtInt(slider, 'top') + e.pageY - slider.lastMousePosY;

if (slider.proposedNewPosY < 0) {
slider.style.top = '0px';
} else if (slider.proposedNewPosY > getAtInt(track, 'height') - getAtInt(slider, 'height')) {
slider.style.top = getAtInt(track, 'height') - getAtInt(slider, 'height') + 'px';
} else {
slider.style.top = slider.proposedNewPosY + 'px';
}

slider.lastMousePosY = e.pageY;

slider.percentage = parseInt(((parseInt(slider.style.top, 10)) / (parseInt(track.style.height, 10) - parseInt(slider.style.height, 10)))*100, 10) + '%';

percentage.textContent = slider.percentage;  //.innerText will not work for Firefox
}

};
  })
</script>
<script> 
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1} 
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none"; 
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block"; 
      dots[slideIndex-1].className += " active";
    }

    var json = '{{json}}';
    var path = '{{path}}';
    console.log(json);
    path = path.replace(path, '/assets/pictures/'); 
    let cleanFiles = []
    var split = (json.split('&quot;,&quot'))
    split.forEach(function(i){
        let link = i.toString().replace('[&quot' && '&quot;]', '')
        let e = link.replace('[&quot;','')
        let j = e.replace(';','')
        cleanFiles.push(j.replace(';'+path, ''))
    })
    console.log(cleanFiles);
    backgrounds = document.getElementsByClassName('slideImg')// Je récupère la class du background-image
    console.log(backgrounds)
    Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
    var i = 0; 
    Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
    var background = path+cleanFiles[i]
        i++;

      
       e.style.backgroundSize = 'cover'
       e.style.height = '73vh'
       e.style.objectFit = 'fill'
       e.style.backgroundAttachement ="fixed"
       e.style.backgroundPosition ="center"
       e.style.backgroundImage = "url("+background+")";
       return e;
         // A chaque section de groupe (e) j'attribue son background.
    })  

   


</script>


{% endblock %}


