
{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}


{% block body %}

<section class="wrapper __border">
<div id="id03" class="modal">
  
        <!-- Modal Content -->
        <div class="modal-content animate">
          <div class="container">
      
              {{form_start(form, { 'attr': {'id': 'modal'}}) }}
              {{form_widget(form)}}
              {{form_widget(form.submit, {'attr': {'id': 'submitRegister'}}) }}
              {{form_end(form)}}

          </div>
          <div class="container" style="background-color:#f1f1f1">
          </div>
        </div>
      </div> 
</section>

{% endblock body %}




{% block javascripts %}

    <script>
    var nav = document.querySelectorAll('.smooth-scroll')
    console.log(nav)
    for(let i = 0; i < nav.length; i ++){
    nav[i].style.display = 'none'
    }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.getElementById('id03').style.display='block'

        })
    </script>

{% endblock javascripts %}