{% extends 'base.html.twig' %}
{% block stylesheet %} {{parent()}} {% endblock %}
{% block title %} Distotal | {{ title }} {% endblock %}
{% block body %}
<section id="albumsContainer">
    {% for album in albums %}
    <div class="flex__container flex--{{album.name}} flex--active" data-slide="{{album.id}}">
        <div class="flex__item flex__item--left">
            <div class="flex__content">
                <h1 class="text--big">{{album.groupmusic.name}} </h1>
              
                <iframe id="idiframe" src="https://bandcamp.com/EmbeddedPlayer/album=1032367297/size=large/bgcol=ffffff/linkcol=333333/tracklist=false/transparent=true/" seamless><a href="http://distotalprod.bandcamp.com/album/dtm-1">DTM #1 by DTM</a></iframe>
               
                <p class="text--normal"></p>
            </div>
            <div id="text__background">
             
            </div>
            <div class="flex__item flex__item--right">
                <div class="album__img" >
                        <h3>{{ album.name}} </h3> 
                        <div class="text--sub">
                                <p>  Sortie le : {{album.releaseat|date('d-m-Y')}} </p>
                            </div>
                        {% for soundPosition in album.soundPositions %}
                            {% for play in soundPosition.soundtrack.plays %}
                            <p class="artistName"> {{ play.artist.firstname }} {{ play.artist.name }} </p> 
                            <p class="instru"> {{ play.instrument.name }} </p> 
                            {% endfor %} 
                        {% endfor %}

                {# {% for soundPosition in album.soundPositions %}
                    <div class="audio">   
                    <p>  {{ soundPosition.position }} - {{ soundPosition.soundtrack.name }}</p>
                    <audio controls> 
                        <source class="{{soundPosition.soundtrack.soundFileName}}" src="/assets/musics/{{ soundPosition.soundtrack.soundFileName }}" type="audio/mp3">
                        </audio>
                    </div>
                    {% endfor %} #}
                </div>
             <a href="{{album.groupmusic.bandcamp}}">   <i id="bandcamp" class="fab fa-bandcamp"></i> </a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="slider__navi">
        {% for album in albums %}
            <a href="{{path('find_one_album', {id:album.id})}}" class="slide-nav" data-slide="{{album.id}}">{{album.name}}</a>
        {% endfor %}
    </div>
</section>

<footer class="fo">
        <div>
                <a href="{{ path('politique')}}"> <h5>  Mentions Légales </h5> </a>
                <h5> <a href="#"> Fiches Techniques </a> </h5>
            </div>
            <div class="fontawesome">
                <i class="fab fa-facebook-square"></i> 
                <i class="fab fa-instagram"></i>
              <i class="fab fa-bandcamp"></i>
            </div>
            <div>
               
                <h5> <a href="#"> Copyright - </a></h5>
            </div>

</footer>
{% endblock %}


{% block javascripts %}

 
<script> 
        var rotateElemContainer = document.createElement('div')
        var div = document.createElement('div')
        div.style.marginLeft ="-40em";
        div.setAttribute('class', 'rot4')
        rotateElemContainer.insertAdjacentElement('beforeEnd', div)
       
        var bg = document.getElementsByClassName('wrapper')
        bg[0].parentElement.insertAdjacentElement('beforeBegin', rotateElemContainer)
        rotateElemContainer.setAttribute('class', 'rot3')
    
     </script>



<script>  
document.addEventListener('DOMContentLoaded', function(){
    var footer = document.getElementsByClassName("footer")
    footer[0].style.display ="none" 
    var nav = document.querySelectorAll('.smooth-scroll')
 
    for(let i = 0; i < nav.length; i ++){
        nav[i].style.display = 'none'
    }
})
</script>
<script> 
    // Je nettoie l'Objet JSON afin de pouvoir itérer sur un tableau contenant les paths (propres) des background-pictures.
           var json = '{{json}}'
           var path = '{{path}}'
           path = path.replace(path, '/assets/pictures/'); 
           let cleanFiles = []
           var split = (json.split('&quot;,&quot'))
           split.forEach(function(i){
               let link = i.toString().replace('[&quot' && '&quot;]', '')
               let e = link.replace('[&quot;','')
               let j = e.replace(';','')
               cleanFiles.push(j.replace(';'+path, ''))
            })
    backgrounds = document.getElementsByClassName('pictureCover')// Je récupère la class du background-image
    console.log(backgrounds)
    Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
    var i = 0; 
    Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
    var background = path+cleanFiles[i]
        i++;
        
       e.style.backgroundSize = 'cover'
       e.style.height = '15rem'
       e.style.width= '15rem'
       e.style.objectFit = 'fill'
       e.style.backgroundAttachement ="fixed"
       e.style.border ="2px solid black"
       e.style.backgroundImage = "url("+background+")";
       return e;
    })
</script>


<script>
    var tabContainer = Array.from(document.querySelectorAll('.flex--active'))
    var navElem = Array.from(document.getElementsByClassName('slide-nav'));
    tabContainer.forEach(function(e){ // Initialisation de la page. 
        e.classList.remove('flex--active')
        e.classList.add('animate--start')
    })
    tabContainer[0].classList.add('flex--active')  
    tabContainer[0].classList.remove('animate--start')

    
    for(let i = 0; i < navElem.length ; i++ ){
        navElem[i].classList.remove('active')
       
        navElem[i].addEventListener('click', function(){ // Ecoute de la page (click nav)
        for (let i = 0; i < navElem.length; i++){           
            navElem[i].classList.remove('active') 
        }
        this.classList.add('active')  

        var next = this.getAttribute('data-slide');  // Album suivant (selectionné au moment du click)
        var currentContainer = document.querySelector('.flex--active').getAttribute('data-slide')// current 
        var container = document.querySelector(".wrapper");
        var elements = Array.from(container.querySelectorAll(".flex__container"));
        var active = document.querySelector('.flex--active')
            if (currentContainer === next) {   // agit à lafaçon de la methode JQUERY $('').find('')
            return false;
            } else {
                elements.forEach(function(e){
                    if (e.getAttribute('data-slide') == next) {
                        e.classList.add('flex--preStart')
                        active.classList.add('animate--end')
                        setTimeout(function() {                        // définit une durée pour le lancement de l'animation. 
                            var j = document.querySelector('.flex--preStart') 
                            j.classList.remove('animate--start')
                            j.classList.remove('flex--preStart')
                            j.classList.add('flex--active')

                            var k = document.querySelector('.animate--end')
                            k.classList.add('animate--start')
                            k.classList.remove('animate--end')
                            k.classList.remove('flex--active')
                        }, 800)
                    }
            })
        }   
        })
    }
</script>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
{% endblock javascripts %}

