{% extends 'base.html.twig' %}
{% block title %} DISTOTAL PROD  {% endblock %}



{% block stylesheets %}
{{ parent() }}
    {% for groupe in groupes %}
        {% if groupe.font != null %}
        <link href="{{groupe.font.googleFontUrl}}" rel="stylesheet"></link>
        {% endif %}
    {% endfor %}
{% endblock stylesheets %}

{% block body %}
<section class="__border">
    <h2 class="__title padLeft __sticky __wandb target" style="padding-bottom: 1em;" data-target="actualite">Actualités</h2>
    <div class="slideshow-container">

        {% for article in news %}
        <div class="mySlides fade" data-slideNews="{{article.id}}">
            <div class="slideImg">
                {% if article.clip %}
                <div class="clipArticle">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{article.clip}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe> 
                </div> 
                {% elseif article.text %}
                    <article class="textNews">
                        <h2>{{ article.title }} ||  <br> 
                        {% if article.eventdate is defined %}
                        Le {{article.eventdate|date('d-m-Y')}}
                        {% endif %}  </h2>
                    <p>{{ article.text|nl2br }} </p>
                    {% if article.sound is not null %}
                    <br> 
                    <div class="radio">
                    <audio id="music" preload="true">
                            <source  src="/assets/musics/{{ article.sound.soundFileName}}" type="audio/mp3">
                                <source  src="/assets/musics/{{ article.sound.soundFileName}}" type="audio/ogg">
                    </audio>
                    <button id="pButton" class="play"></button>
                        <div id="timeline">    
                            <div id="playhead"></div>
                        </div>
                        {% if article.bandcamp %}
                        <a href="{{ article.bandcamp}}" target="_blank"> 
                            <i id="bButton" class="fab fa-bandcamp"></i>
                        </a>  
                        {% endif %}
                    </div>
                    {% endif %}
                </article>
                    {% endif %}
                </div>
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="hr">
            {% for key, article in news %}
                <div class="articleNews" data-news='{{ article.id }}'> 
                    <h2> {{ article.title}} </h2>
                    <h4> Publié le : {{ article.createat|date('d-m-Y')}} </h4> 
                </div>
            {% endfor %}
          
    </div>
</section>


<section class="artists __border">
        <h2 class="__title padLeft __sticky __wandb target" id="artistes" data-target="artistes">Artistes</h2>
<main id="items-container">
    {% for groupe in groupes %}
    <section class="bordureArtist">
         <div class="groupeName" data-title="{{groupe.name}}" data-gId="{{groupe.id}}"> 
             {% if groupe.font is not null %}
             <h1 style="font-family: '{{ groupe.font.css }}';" > {{ groupe.name }} </h1>
             {% else %}
            <h1 > {{ groupe.name }} </h1>
            {% endif %}
        </div>
            <div class="backgroundArtist containerArtist" data-slide="{{groupe.id}}" id="item-{{groupe.id}}">
                    <article class="transparent">
                        <p>{{groupe.paraOne|nl2br }}</p><br>
                        {% if groupe.extrait is not null %}
                        <br> 
                        <audio class="musics" data-name="{{groupe.name}}" preload="true">
                            <source  src="/assets/musics/{{ groupe.extrait.soundFileName}}" type="audio/mp3">
                            <source  src="/assets/musics/{{ groupe.extrait.soundFileName}}" type="audio/ogg">
                        </audio>
                        <div class="radio2">   
                            <button class="pButtonGroup" class="play" data-name="{{ groupe.name}}"></button>
                                    
                            <div class="timelineGroup">    
                                <div class="playheadGroup"  data-name="{{groupe.name}}"></div>
                            </div>
                            {% if groupe.bandcamp %}
                                <a href="{{ groupe.bandcamp }}" target="_blank" class="bButtonGroup"> 
                                    <i class="fab fa-bandcamp "></i>
                                </a>  
                            {% endif %}
                        </div>   
                        {% endif %}
                        <div class="so">
                            {% if groupe.facebook %}
                            <a href="{{groupe.facebook}}"><i class="fab fa-facebook-square"></i></a> 
                            {% endif %}
                            {% if groupe.instagram  %}
                            <a href="{{groupe.instagram}}"><i class="fab fa-instagram"></i></a> 
                            {% endif %}
                        </div>
                    </article>
                <div class="albumName" data-album="{{groupe.id}}"> 
                    <div class="galleryAlbum"> 
                    {% for album in groupe.albums %} 
                            <a href="{{path('find_one_album', {id:album.id})}}"> 
                                <div class="album">   
                                    <h5> {{ album.name }} </h5>
                                </div>   
                            </a> 
                          
                    {% endfor %}
                    </div>  
                </div>
                
             
            </div>
    </section>
    {% endfor %} 
</main> 
</section>

<section id="concerts" data-target="concerts" class=" __border target">
<div class=" __wandb __sticky __title "> 
<a  class="   tablink " onclick="openPage('Home', this, 'white)')" id="defaultOpen">  A venir </a>
<a  class=" tablink " onclick="openPage('News', this, 'rgba(128, 126, 126, 0.473)')" id="open"> Dates passées  </a>
</div>

<div id="Home" class="tabcontent sectionConcert ">
        <section class="mainConcert">
            {% for concert in concertA %}
            <div class="cardConcert" >
                <div class="eventConcert">
                    <h2> {{concert.name}} </h2>  
                    <h3> Le {{concert.dateconcert|date('d-m-Y')}} </h3> <br>
                    {% for groupe in concert.groupes %}
                        <h2> {{ groupe.name }} </h2>  
                    {% endfor %} 
                </div>
                <article class="placeConcert">
                    <p> A {{concert.city}}</p>
                    <p> {{concert.cp}}</p>
                    <p> {{concert.place}}</p>
                </article> 
            </div>
            {% endfor %}
        </section>
   
  </div>
  
  <div id="News" class="tabcontent sectionConcert">
        <section class="mainConcertB">
                {% for concert in concertB %}
                    <div class="cardConcertB cardConcertP">
                            <div class="eventConcertB">
                                <h2> {{concert.name}} </h2>  
                                <h3> Le {{concert.dateconcert|date('d-m-Y')}} </h3> <br>
                                {% for groupe in concert.groupes %}
                                    <h2> {{ groupe.name }} </h2>  
                                {% endfor %} 
                            </div>
                            <article class="placeConcert">
                                <p> A {{concert.city}}</p>
                                <p> {{concert.cp}}</p>
                                <p> {{concert.place}}</p>
                            </article> 
                    </div>
                {% endfor %}
        </section>
 
  </div>
</section>


      
<section class="target" id="dnone"  data-target="newsletter">
    <div class="cont target __border"  id="newsletter"   data-target="apropos">
        <div class="form sign-in">
                <h2 id="aprop"> à Propos </h2>
                <article class="apropos">
                <p> {{ label.paraOne|nl2br }} </p> <br>
                {% if label.paraTwo is defined %}
                <p> {{ label.paraTwo|nl2br }} </p> <br>
                {% endif %}
         
            </article>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h3> NEWSLETTER </h3>
                </div>
                <div class="img__text m--in"> </div>
                <div class="img__btn">
                    <span class="m--up"> Newslettter </span>
                    <span class="m--in">A propos </span>
                </div>
                <a  href="mailto:distotalprod@protonmail.com"> <h2 id="btnblack" style="width:8em;"> Contact </h2> </a> 
            </div>
        <div class="form sign-up">
            <h2 id="newsSubTitle"> Newsletter </h2>
              <div class="newletter">
              <div class="formulaire"> 
                <div class="color">
                    {{ form_start(form)}}
                    {{ form_row(form.email_address , { 'label': 'Email' }) }}
                    {{ form_row(form.save , { 'label': 'Envoyer' }) }}
                    {{ form_end(form)}}  
                </div>  
                <div class="rgpd">
                    <p> Votre adresse e-mail nous servira exclusivement à vous informer de nos dernières activités et ne saurait faire l'objet d'une revente de données auprès d'une personne morale ou physique. </p>
                </div>
              </div> 
              </div>
            </div>
          </div>
        </div>
</section>

        <div id="responsive" >
            <h1 class="__title __sticky __border  __bandw  padLeft" id="slideBtn"> a propos </h1> 
            <article class="aproposResp">
                <p> {{ label.paraOne|nl2br }} </p> <br>
                        {% if label.paraTwo is defined %}
                        <p> {{ label.paraTwo|nl2br }} </p> <br>
                        {% endif %}    
            </article>                  
        </div>

        <!-- The Modal LOGIN  -->
<div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'"
        class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <div class="modal-content animate">
                <h2> Mon compte </h2> <br>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="update">
                        <form action="{{path('update_user')}}" method="POST">
                                <label for="prenom"> Prénom </label>
                                <input type="text" name='prenom' placeholder="{{app.user.firstname}}">
                                <label for="email"> Nom </label>
                                <input type="text" name='nom' placeholder="{{app.user.lastname}}">
                                <label for="email"> Email </label>
                                <input type="text" name='email' placeholder="{{app.user.email}}">
                                <label for="newsletter"> Newsletter </label>
                                <label class="switch">
                                        <input type="checkbox" name="newsletter" checked>
                                        <span class="slider"></span>
                                </label>
                                <input type="hidden" name="token" value="{{csrf_token('authenticate') }}">
                                <input type="submit" value="Modifier">
                        </form> <br>
                        </div>

                        {% if is_granted('ROLE_USER') %}
                        <h3> Mes droits </h3>
                        <p> Rôle : Utilisateur </p> <br>
                        <a href="#"> Télécharger mes données </a> <br>
                        <a href="{{path("delete_user")}}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer votre compte ?'));"> Supprimer mon compte </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <h3> Mes droits </h3>
                        <p> Rôle :  Administrateur </p> 
                        <a href="{{ path('panel_admin')}}"> Admin Panel </a> <br>
                        {% endif %}
                        <br>
                        <a href="{{ path('logout')}}"> Logout </a> <br> 
                    {% else  %} 
                    <div class="container">
                            <h3> Login </h3>
                            {{form_start(formLogin, { 'attr': {'id': 'modal'}}) }}
                            {{form_widget(formLogin)}}
                            {{form_end(formLogin)}}
            
                            <div>
                                    <a  href="{{ path('register') }}"> Register </a> <br>
                                    <a  href="{{ path('forgotten_password') }}"> Mot de passe oublié ? </a> <br>
                                </div> 
                            </div>
                    {% endif %}
                    
                    
                    
                    <br>
                        <br>
                <div class="container" style="background-color:#180c0c">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Quitter</button>   
                </div>
            </div>
    </div> 
                
                    
              
                    
{% endblock body %}

{% block footer %}
{% if label.facebook %}
<a href="{{label.facebook}}"> <i class="fab fa-facebook-square"></i> </a>  
{% endif %}
{% if label.instagram  %}
<a href="{{label.instagram}}"> <i class="fab fa-instagram"></i></a>  
{% endif %}
{% if label.bandcamp %}
<a href="{{ label.bandcamp}}"> <i class="fab fa-bandcamp"></i></a>  
{% endif %}
{% endblock footer %}

{% block javascripts %}
{{parent()}}

<script>
    var playBtn = Array.from(document.getElementsByClassName('pButtonGroup'));  
    playBtn.forEach(function(e){
        e.classList.add('play')
        e.addEventListener('click', function(){
            var musicTab = Array.from(document.getElementsByClassName('musics'));
            musicTab.forEach(function(m){
                console.log(m)
                      if (m.dataset.name == e.dataset.name){
                        if (m.paused) {
                            m.play();
                            e.classList.remove("play");
                            e.classList.add("pause");
                        } else {
                            m.pause();
                            e.classList.add("play");
                            e.classList.remove("pause");
                        }
                    }
                 
                    let row = e.nextElementSibling.firstElementChild

                    row.addEventListener("canplaythrough", function () {
                        duration = m.duration;
                    }, false);
                    console.log(e.nextElementSibling.firstElementChild)
                    m.ontimeupdate = function() {
                        myFunction(m)};

                    function myFunction(m){
                    // Display the current position of the video in a <p> element with id="demo"
                        console.log(m.currentTime )
                        console.log(m.duration )
                        var playPercent = 100 * (m.currentTime / m.duration);
                        row.style.marginLeft = playPercent + "%";
                        console.log(m)
                        console.log(playPercent)
                    } 

                 

                    }
            )
            })
        })
        
    

</script>

<script>
        var login = document.getElementById('login')
        login.addEventListener('click', function(){
           document.getElementById('id02').style.display = "block"
        })
    
</script>
<script>
    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
      
        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].style.backgroundColor = "";
        }
      
        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";
      
        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;
        
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click(); 
      
</script>

<script> // title
    var subtitle = Array.from(document.getElementsByClassName('__title'))
    subtitle[0].style.backgroundColor = '#ffffff'
    window.addEventListener('scroll', function(e){
        var sticky = 10
        subtitle.forEach(function (e){
            if (e.offsetTop - e.parentElement.offsetTop > sticky ){
                e.style.backgroundColor = '#ffffff'
            } 
            if (e.offsetTop - e.parentElement.offsetTop < sticky ){
                e.style.backgroundColor = '#ffffff00'   
            }
        })

    })
</script> 

<script> // BG rotation
   var rotateElemContainer = document.createElement('div')
   var div = document.createElement('div')
   div.setAttribute('class', 'bgRot')
   rotateElemContainer.insertAdjacentElement('beforeEnd', div)
   var bg = document.getElementsByClassName('wrapper')
   bg[0].parentElement.insertAdjacentElement('afterBegin', rotateElemContainer)
   rotateElemContainer.setAttribute('class', 'rot3')
       window.addEventListener('scroll', function(){
           var s = window.scrollY
           div.style.transform = "rotate(" + s*0.1 + "deg)"
    })  
</script>


 <script> // Carousel dates passées
(function() {
    var carousels = document.querySelectorAll('.js-product-carousel');
    [].forEach.call(carousels, function(carousel) {
      carouselize(carousel);
    });
  })();
  function carouselize(carousel) {
    var productList = carousel.querySelector('.js-product-list');
    var productListWidth = 0;
    var productListSteps = 0;
    var products = carousel.querySelectorAll('.product');
    var productAmount = 0;
    var productAmountVisible = 4;
    if(document.documentElement.clientWidth <= 600){
         productAmountVisible = 1; 
    }
    var carouselPrev = carousel.querySelector('.js-carousel-prev');
    var carouselNext = carousel.querySelector('.js-carousel-next');
    //Count all the products
    [].forEach.call(products, function(product) {
        
      productAmount++;
      productListWidth += 250;  
      productList.style.width = productListWidth+"px";
    });
  
    carouselNext.onclick = function() {
      if(productListSteps < productAmount-productAmountVisible) {
        productListSteps++;
        moveProductList();
      }
    }
    carouselPrev.onclick = function() {
      if(productListSteps > 0) {
        productListSteps--;
        moveProductList();
      }
    }
    
    // This is a bit hacky, let me know if you find a better way to do this!
    // Move the carousels product-list
    function moveProductList() {
        if(document.documentElement.clientWidth <= 600){
        productList.style.transform = "translateX(-"+400*productListSteps+"px)"; 
        } else {
        productList.style.transform = "translateX(-"+205*productListSteps+"px)";
    }
  }
}
</script>

<script> // News 
        newsNav = Array.from(document.getElementsByClassName('articleNews'))
        myslide =  Array.from(document.getElementsByClassName('mySlides'))
        newsNav[0].classList.add('active')
        myslide[0].style.display = "block"
        newsNav.forEach(function(e){
            e.addEventListener('click', function(){ 
                for(let i = 0 ; i < newsNav.length ; i++){
                    newsNav[i].classList.remove('active')
                } 
            e.classList.add('active')
                for (let j = 0 ; j < myslide.length; j ++){
                    myslide[j].style.display ="none"
                }
            var t = document.querySelector('[data-slideNews="' + e.dataset.news + '"]')
            t.style.display = "block"
            })
        })
       
    var jsonNews = '{{jsonNews}}';
    var pathNews = '{{path}}';
    pathNews = pathNews.replace(pathNews, '/assets/pictures/'); 
    let cleanFile = []
    var split = (jsonNews.split('&quot;,&quot'))
    split.forEach(function(i){
        let link = i.toString().replace('[&quot' && '&quot;]', '')
        let e = link.replace('[&quot;','')
        let j = e.replace(';','')
        cleanFile.push(j.replace(';'+pathNews, ''))
    })
    backgrounds = document.getElementsByClassName('slideImg')// Je récupère la class du background-image
    Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
    var i = 0; 
    Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
    var background = pathNews+cleanFile[i]
        i++;
       e.style.backgroundSize = 'cover'
       e.style.objectFit = 'fill'
       e.style.backgroundAttachement ="fixed"
       e.style.backgroundPosition ="center"
       e.style.backgroundImage = "url("+background+")";
       return e;
         // A chaque section de groupe (e) j'attribue son background.
    }) 
</script>
<script> 
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
       
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("articleNews");
            if (n > slides.length) {slideIndex = 1} 
              if (n < 1) {
                  slideIndex = slides.length
                }   
              for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none"; 
              }         
              for (i = 0; i < dots.length; i++) { 
                  dots[i].className = dots[i].className.replace(" active", ""); 
              } 
              slides[slideIndex-1].style.display = "block"; 
              dots[slideIndex-1].className += " active"; 
            } 
</script>
<script> 
        window.addEventListener("DOMContentLoaded", function(){
        // Je nettoie l'Objet JSON afin de pouvoir itérer sur un tableau contenant les paths (propres) des background-pictures.
        var json = '{{jsonArtist}}'
        var path = '{{path}}'
        path = path.replace(path, '/assets/pictures/'); 
        let cleanFiles = []
        var split = (json.split('&quot;,&quot'))
        split.forEach(function(i){
            let link = i.toString().replace('[&quot' && '&quot;]', '')
            let e = link.replace('[&quot;','')
            let j = e.replace(';','')
            cleanFiles.push(j.replace(';'+path, ''))
        })
 backgrounds = document.getElementsByClassName('backgroundArtist')
 Tbackgrounds = Array.from(backgrounds); 
 var i = 0; 
 Tbackgrounds.forEach(function(e){ 
 var background = path+cleanFiles[i]
     i++;
    e.style.backgroundImage = "url("+background+")";
    return e;
     })
    })
</script>
<script> 
        window.addEventListener("DOMContentLoaded", function(){
        var json = '{{jsonConcert}}'
        var path = '{{path}}'
        path = path.replace(path, '/assets/pictures/'); 
        let cleanFilesGroupe = []
        var split = (json.split('&quot;,&quot'))
        split.forEach(function(i){
            let link = i.toString().replace('[&quot' && '&quot;]', '')
            let e = link.replace('[&quot;','')
            let j = e.replace(';','')
            cleanFilesGroupe.push(j.replace(';'+path, ''))
        })
 backgrounds = document.getElementsByClassName('cardConcert')
 Tbackgrounds = Array.from(backgrounds); 
 var i = 0; 
 Tbackgrounds.forEach(function(e){ 
 var background = path+cleanFilesGroupe[i]
     i++;
    e.style.backgroundSize = 'cover'
    e.style.backgroundPosition ="center"
    e.style.backgroundImage = "url("+background+")";
    return e;
     })
    })
</script>
<script> 
        window.addEventListener("DOMContentLoaded", function(){
        var json = '{{jsonConcertP}}'
        var path = '{{path}}'
        path = path.replace(path, '/assets/pictures/'); 
        let cleanFilesGroupe = []
        var split = (json.split('&quot;,&quot'))
        split.forEach(function(i){
            let link = i.toString().replace('[&quot' && '&quot;]', '')
            let e = link.replace('[&quot;','')
            let j = e.replace(';','')
            cleanFilesGroupe.push(j.replace(';'+path, ''))
        })
 backgrounds = document.getElementsByClassName('cardConcertP')
 Tbackgrounds = Array.from(backgrounds); 
 var i = 0; 
 Tbackgrounds.forEach(function(e){ 
 var background = path+cleanFilesGroupe[i]
     i++;
    e.style.backgroundSize = 'cover'
    e.style.objectFit = 'fill'

    e.style.backgroundImage = "url("+background+")";
    return e;
     })
    })
</script>

<script>
        var s = window.scrollY // OK
        var d = document.documentElement.scrollHeight // OK  
        var c = document.documentElement.clientHeight // OK
        document.addEventListener("DOMContentLoaded", function(){ // Event : Dès que le DOM est prêt.
        var container = Array.from(document.getElementsByClassName('containerArtist'))
        var sectionArtist = Array.from(document.getElementsByClassName('bordureArtist'))
        var groupeName = Array.from(document.getElementsByClassName('groupeName'))
        var albumName = Array.from(document.getElementsByClassName('albumName'))
    
        for (let i = 0; i < groupeName.length; i++){
            if(document.documentElement.clientWidth < 600){
                groupeName[i].style.display = 'none'
                let title  = document.createElement("h2")
                title.innerHTML = groupeName[i].dataset.title
                title.style.color ="white"
                title.style.fontSize ="3em"
                title.style.marginLeft ="0.2em"
                container[i].insertAdjacentElement('afterBegin', title )
            }
            if (albumName[i].dataset.album % 2 == 1){
                var cls = ["album__left", "album__up", "color-white" ]
                document.querySelectorAll('.albumName')[i].classList.add(...cls)
                console.log(albumName[i])
            } else 
                var cls = ["album__right", "album__up", "color-white" ]
                document.querySelectorAll('.albumName')[i].classList.add(...cls)
                console.log(albumName[i])
            }


    window.addEventListener('scroll', function(){ // Event : Ecoute du scroll
        var s = window.scrollY// Défilement au scroll de la page
        var d = document.documentElement.scrollHeight // scrollHeight = mesure de la hauteur du contenu d'un élément qui inclut le contenu débordant et non visible à l'écran. 
        var c = container[0].offsetHeight  // Hauteur d'un container
        for (let i = 0; i < groupeName.length; i++){
            if(groupeName[i].dataset.gid % 2 == 1){ // Valeur du data attribut (groupe ID) == impaire ? 

            var cls = ["position__right", "up", "white"] 
            document.querySelectorAll('.transparent')[i].classList.add(...cls)
            groupeName[i].style.color ="white"
            groupeName[i].style.position = 'absolute';
            var cls = ["groupeName--fixe"]
            groupeName[i].classList.add(...cls)
            scrollPercent = ((s) / (d - c)) // Défilement axe Y / (hauteur du document - hauteur d'un container)
            var position = ((scrollPercent * (document.documentElement.clientWidth + groupeName[i].clientWidth))) 
            groupeName[i].style.left = position - 150 + 'px';
           
            if(groupeName[i].getBoundingClientRect().left >  document.documentElement.clientWidth /2){
                groupeName[i].style.right = position - document.documentElement.clientWidth /2 + 'px';
            }
            if(groupeName[i].dataset.title.length > 8 ){
                groupeName[i].style.left = position - 2800 + 'px';
                groupeName[i].style.width =  '30em';
                container[i].children[0].firstElementChild.classList.add('groupeDescribeUp')
                }
                groupeName[i].style.fontSize = '8.8em';
             
        

            } else {
            var cls = ["position__left", "up", "black"]
            document.querySelectorAll('.transparent')[i].classList.add(...cls)
            groupeName[i].style.color ="white"
            groupeName[i].style.position = 'absolute';
            var cls = ["groupeName--fixe"]
            groupeName[i].classList.add(...cls)
            scrollPercent = ((s) / (d - c))
            var position = ((scrollPercent * (document.documentElement.clientWidth + groupeName[i].clientWidth))) 
            groupeName[i].style.fontSize = '8.8em'; 
            groupeName[i].style.zIndex = '2'; 

            if(groupeName[i].getBoundingClientRect().right >  document.documentElement.clientWidth /2){
                groupeName[i].style.right = position - document.documentElement.clientWidth /2 + 'px';
            }

            if(groupeName[i].dataset.title.length > 8 ){
                groupeName[i].style.right = position - 500 + 'px';
                    groupeName[i].style.width =  '15em';
                    container[i].children[0].firstElementChild.classList.add('groupeDescribeUp')
                } else {
                    groupeName[i].style.right = position - 450 + 'px';
                }
            }
            
                     
        }
    })
    
})

        
        
</script>

<script>
        var jsonPictureNewsletter = '{{ pictureNews }}'
        var a =  JSON.stringify(jsonPictureNewsletter)
        var b =  a.replace('"&quot;','')
        var c = b.replace('&quot;"', "")
        var string = ".img:before {background-image: url(/assets/pictures/"+c+")}";

    var styleElem = document.head.appendChild(document.createElement("style"));
    styleElem.innerHTML = string
</script> 
<script>
    document.querySelector('.img__btn').addEventListener('click', function() {
    document.querySelector('.cont').classList.toggle('s--signup');
    //before we even start fix the annoying select-cursor bug in Chrome:
    document.onselectstart=function(e){e.preventDefault();return false;};
    //create handles for elements that were instantiated in the HTML markup:
    var slider = document.getElementById('slider'),
    track = document.getElementById('track'),
    percentage = document.getElementById('percentage');
    //initial states variables, append to their elements:
    document.mouseState = 'up';
    slider.mouseState = 'up';
    slider.lastMousePosY = null;
    slider.proposedNewPosY = 0;
    slider.percentage = null;

    slider.style.top = '0px';
    slider.style.height = '50px';
    track.style.top = '20px';
    track.style.height = '350px';

    document.onmousedown = function () {
    document.mouseState = 'down';
    };
    document.onmouseup = function () {
    document.mouseState = 'up';
    slider.mouseState = 'up';
    };
    //Slider mouse event functions:
    slider.onmousedown = function(e) {
    slider.lastMousePosY = e.pageY;  //<-this is so that if you lift the mouse, move it and grab the slider again, it will not jump.
    slider.mouseState = 'down';
    document.mouseState = 'down';
    };
    slider.onmouseup = function(e) {
    slider.mouseState = 'up';
    document.mouseState = 'up';
    };

    var getAtInt = function getAtInt(obj, attrib) {
    return parseInt(obj.style[attrib], 10);
    };
    document.onmousemove  = function(e) {
    if ((document.mouseState === 'down') && (slider.mouseState === 'down')) {
    slider.proposedNewPosY = getAtInt(slider, 'top') + e.pageY - slider.lastMousePosY;
    if (slider.proposedNewPosY < 0) {
    slider.style.top = '0px';
    } else if (slider.proposedNewPosY > getAtInt(track, 'height') - getAtInt(slider, 'height')) {
    slider.style.top = getAtInt(track, 'height') - getAtInt(slider, 'height') + 'px';
    } else {
    slider.style.top = slider.proposedNewPosY + 'px';
    }
    slider.lastMousePosY = e.pageY;
    slider.percentage = parseInt(((parseInt(slider.style.top, 10)) / (parseInt(track.style.height, 10) - parseInt(slider.style.height, 10)))*100, 10) + '%';
    percentage.textContent = slider.percentage;  //.innerText will not work for Firefox
    }

    };

    })
    </script>
    <script>
            window.addEventListener('DOMContentLoaded', function(){
                document.querySelectorAll('.smooth-scroll').forEach(anchor => {
                    anchor.onclick = (e) => {
                        e.preventDefault()
                            const data = anchor.dataset.slide
                            var tabTarget = document.querySelectorAll('.target');
                            tabTarget.forEach(function(e){
                                if (e.dataset.target == data){
                                     var target = e
                                     var target = target
                                     const to = target.offsetTop
                                 scrollTo(document.documentElement, to, 2500)
                
                                }
                                })
                            }
                        })
                
                const scrollTo = (element, to, duration) => {
                let start = element.offsetTop
                let change = to - start
                let currentTime = 0
                let increment = 20;
                
                const animateScroll = () => {
                    currentTime += increment;
                    const val = easeInOutQuad(currentTime, start, change, duration);
                    element.scrollTop = val;
                    if (currentTime < duration) {
                        setTimeout(animateScroll, increment);
                    }
                }
                
                animateScroll()
                }
                
                const easeInOutQuad = (t, b, c, d) => {
                  t /= d / 2
                  if (t < 1) return c / 2 * t * t + b
                  t--
                  return -c / 2 * (t * (t - 2) - 1) + b
                }
        
            })
        </script>
<script>
        var music = document.getElementById('music'); // id for audio element
        var duration = music.duration; // Duration of audio clip, calculated here for embedding purposes
        var pButton = document.getElementById('pButton'); // play button
        var playhead = document.getElementById('playhead'); // playhead
        var timeline = document.getElementById('timeline'); // timeline
        
        // timeline width adjusted for playhead
        var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
        
        // play button event listenter
        pButton.addEventListener("click", play);
        
        // timeupdate event listener
        music.addEventListener("timeupdate", timeUpdate, false);
        
        // makes timeline clickable
        timeline.addEventListener("click", function(event) {
            moveplayhead(event);
            music.currentTime = duration * clickPercent(event);
        }, false);
        
        // returns click as decimal (.77) of the total timelineWidth
        function clickPercent(event) {
            return (event.clientX - getPosition(timeline)) / timelineWidth;
        }
        
        // makes playhead draggable
        playhead.addEventListener('mousedown', mouseDown, false);
        window.addEventListener('mouseup', mouseUp, false);
        
        // Boolean value so that audio position is updated only when the playhead is released
        var onplayhead = false;
        
        // mouseDown EventListener
        function mouseDown() {
            onplayhead = true;
            window.addEventListener('mousemove', moveplayhead, true);
            music.removeEventListener('timeupdate', timeUpdate, false);
        }
        
        // mouseUp EventListener
        // getting input from all mouse clicks
        function mouseUp(event) {
            if (onplayhead == true) {
                moveplayhead(event);
                window.removeEventListener('mousemove', moveplayhead, true);
                // change current time
                music.currentTime = duration * clickPercent(event);
                music.addEventListener('timeupdate', timeUpdate, false);
            }
            onplayhead = false;
        }
        // mousemove EventListeneref
        // Moves playhead as user drags
        function moveplayhead(event) {
            var newMargLeft = event.clientX - getPosition(timeline);
        
            if (newMargLeft >= 0 && newMargLeft <= timelineWidth) {
                playhead.style.marginLeft = newMargLeft + "px";
            }
            if (newMargLeft < 0) {
                playhead.style.marginLeft = "0px";
            }
            if (newMargLeft > timelineWidth) {
                playhead.style.marginLeft = timelineWidth + "px";
            }
        }
        
        // timeUpdate
        // Synchronizes playhead position with current point in audio
        function timeUpdate() {
            var playPercent = timelineWidth * (music.currentTime / duration);
            playhead.style.marginLeft = playPercent + "px";
            if (music.currentTime == duration) {
                pButton.className = "";
                pButton.className = "play";
            }
        }
        
        //Play and Pause
        function play() {
            // start music
            if (music.paused) {
                music.play();
                // remove play, add pause
                pButton.className = "";
                pButton.className = "pause";
            } else { // pause music
                music.pause();
                // remove pause, add play
                pButton.className = "";
                pButton.className = "play";
            }
        }
        
        // Gets audio file duration
        music.addEventListener("canplaythrough", function() {
            duration = music.duration;
        }, false);
        
        // getPosition
        // Returns elements left position relative to top-left of viewport
        function getPosition(el) {
            return el.getBoundingClientRect().left;
        }
    </script>
{% endblock javascripts %} 
        