{% extends 'base.html.twig' %}

{% block title %} DISTOTAL PROD | SHOP{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}


{% block body %}
<section class="wrapper __border" >
    <section class="shopContainer">
        <section class="fixed"> 
            <div style="margin-top: -2em;"> 
                    <h1 class="__title  __sticky __wandb target" id="artistes" data-target="artistes">Mon Panier </h1>      
                <table style="border:solid black 1px; border-collapse:collapse; width:100%;">
                <thead style="border:solid black 1px; border-collapse:collapse">
                    <tr>
                        <th> Produit(s) </th>
                        <th> Quantité </th>
                        <th> Prix </th>
                        <th> Total </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in cart_products %}
                        <tr style="border:solid black 1px; border-collapse:collapse; width:100%; height:3em;">
                            <td> <h4>{{product.name}} </h4> </td>
                            <td>
                            <form action="{{ path('update_quantities') }}" method="POST">
                            <input style="width:6em;" class="form-control" min="0" name="amounts[{{product['id']}}]" type="number" value="{{product['amount']}}">
                            </td>
                            <td> <strong> {{product.price}} </strong></td>
                            <td> <strong> {{product.total_price}} </strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <span> Total : </span>
            <strong> {{ app.session.get('cart_data')['total_price'] }} euros </strong>
            <div class="btnsShop">
            <button class="btnShop" type="submit"> Mise à jour du panier</button>
            </form>
          
            <a href="{{path('shop')}}"> <button class="btnShop" role="button"><span>Shop</span></button></a>
            </div>
            <div class="connect">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <form class="formPayment" action="{{path('create_payment')}}" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="4LT4JWGDSM6XY">
                            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            {% else %}
                <p> Veuillez-vous  <span style="font-weight: bolder; cursor: pointer;" onclick="document.getElementById('id05').style.display='block'"> connecter </span>  ou vous <a style="font-weight: bolder;"  href="{{ path('register')}}"> enregitrer </a> afin de procéder au payement. </p>
            </div>
            {% endif %}

            {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <p style="font-size: 0.4em"> {{ message }} </p>
            </div>
            {% endfor %} 

            </div>
            <div class="options">
                {% for product in cart_products %}
                <a href="{{path('remove_from_cart', {id:product.id}) }}"><i class="fas fa-times"></i></a>
                {% endfor %}
            </div>
            </section>

            <section class="cartProdutSection">
                    {% for product in cart_products %}
                    <div class="card"> 
                        <div class="containerCard">
                        <img src="assets/pictures/{{ product.picture }}" alt="{{ product.name }}" class="imageCard">
                        </div>
                        <div>
                            <h1>{{product.name}}</h1> 
                        </div>
                        <p class="price"> {{product.price}} Euros </p>
                        <p>{{product.describes}}</p>
                    </div>
                    {% endfor %}
            </section> 
    </section>
</section>


{# modal #}

 <!-- Button to open the modal login form -->

<!-- The Modal LOGIN  -->
<div id="id05" class="modal">
        <span onclick="document.getElementById('id05').style.display='none'"
        class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <div class="modal-content animate">
                <h2> Mon compte </h2> <br>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <br>
                        <h3> Mes informations personnelles : </h3>
                        <form action="{{path('update_user')}}" method="POST">
                                <label for="prenom"> Prénom </label>
                                <input type="text" name='prenom' placeholder="{{app.user.firstname}}">
                                <label for="email"> Nom </label>
                                <input type="text" name='nom' placeholder="{{app.user.lastname}}">
                                <label for="email"> Email </label>
                                <input type="text" name='email' placeholder="{{app.user.email}}">
                                <label class="switch">
                                        <input type="checkbox" name="newsletter">
                                        <span class="slider"></span>
                                </label>
                                <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
                                <input type="submit" value="Modifier">
                        </form> <br>
                        {% if is_granted('ROLE_USER') %}
                        <h3> Mes droits </h3>
                        <p> Rôle : Utilisateur </p> <br>
                        <a href="#"> Telecharger mes données </a> <br>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <h3> Mes droits </h3>
                        <p> Rôle :  Administrateur </p> 
                        <a href="{{ path('panel_admin')}}"> Admin Panel </a> <br>
                        {% endif %}
                        <br>
                        <a href="{{ path('logout')}}"> Logout </a> <br> 
                    {% else  %} 
                    <div class="container">
                            <h3> Login </h3>
                            {{form_start(formLogin, { 'attr': {'id': 'modal'}}) }}
                            {{form_widget(formLogin)}}
                            {{form_end(formLogin)}}
            
                            <div>
                                    <a  href="{{ path('register') }}"> Register </a> <br>
                                    <a  href="{{ path('forgotten_password') }}"> Mot de passe oublié ? </a> <br>
                                </div> 
                            </div>
                    {% endif %}
                <br>
                <div class="container" style="background-color:#180c0c">
                <button type="button" onclick="document.getElementById('id05').style.display='none'" class="cancelbtn"> Quitter </button>   
                </div>
            </div>
    </div> 
      
   
{% endblock %}

{% block footer %}

{% endblock %}



{% block javascripts %}

<script> // BG rotation
        var rotateElemContainer = document.createElement('div')
        var div = document.createElement('div')
        div.setAttribute('class', 'bgRot')
        rotateElemContainer.insertAdjacentElement('beforeEnd', div)
        var bg = document.getElementsByClassName('wrapper')
        bg[0].parentElement.insertAdjacentElement('afterBegin', rotateElemContainer)
        rotateElemContainer.setAttribute('class', 'rot3')
        window.addEventListener('scroll', function(){
            var s = window.scrollY
            div.style.transform = "rotate(" + s*0.3 + "deg)"
        })  
    </script>
<script>
        let toggle = '{{ toggle }}'
        var t = toggle
        console.log(t)
        var nav = document.getElementsByClassName('alignNav')
        var login = document.createElement("a")
        login.innerHTML = "Mon Compte";
        login.setAttribute('id', 'loginT')
        if (t == "0"){
            login.addEventListener('click', function(){
                document.getElementById('id05').style.display = "block"
            })
            nav[0].insertAdjacentElement('beforeEnd', login)
        } else {
         
            var log = document.getElementById('login')
            log.addEventListener('click', function(){
              document.getElementById('id05').style.display = "block"
          })

        }
</script>


<script>  
var nav = document.querySelectorAll('.smooth-scroll')
for(let i = 0; i < nav.length; i ++){
nav[i].style.display = 'none'
}
</script>

<script>
       
        
</script>

{% endblock javascripts %}