{% extends 'base.html.twig' %}

{% block title %} DISTOTAL PROD | SHOP{% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}


{% block body %}
<section class="wrapper __border">
    <div class="__wandb padLeft __title" data-target="shop"> <h3> Panier </h3> </div>
    <section id="orderContainer">
            <div id="id04" class="modal" style="background-color:#afa6a680">
                <div class="modal-content animate"> 
                    <form action="{{path('create_payment')}}" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="4LT4JWGDSM6XY">
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
    </section> 
</section>  


<!-- Button to open the modal login form -->

<!-- The Modal LOGIN  -->
<div id="id09" class="modal">
        <span onclick="document.getElementById('id09').style.display='none'"
        class="close" title="Close Modal">&times;</span>
        <!-- Modal Content -->
        <div class="modal-content animate">
            <div class="container">
                {{form_start(form, { 'attr': {'id': 'modal'}}) }}
                {{form_widget(form)}}
                {{form_end(form)}}
            </div>
                    <div>
                    <a  href="{{ path('app_forgotten_password') }}"> Mot de passe oublié ? </>
                    </div>
            <div class="container" style="background-color:#180c0c">
            <button type="button" onclick="document.getElementById('id09').style.display='none'" class="cancelbtn">Cancel</button>   
            </div>
        </div>
    </div> 
{% endblock %}


{% block javascripts %}
<script
          src="https://www.paypal.com/sdk/js?client-id=AU7V_YzCgc7Oqit5UKINBx7LGfDD1ulH9SjZjf2u4R37whzUpPoRQLSvF7KOIAMXAAIp1ky4dENYuvS-">
        </script>
        <script>
                paypal.Buttons().render('#paypal-button-container');
        </script>
         
<script>
document.addEventListener('DOMContentLoaded', function(){
    var m = document.getElementById('id04')
    m.style.display='block'
    m.style.marginTop ='2.5em'
})
var nav = document.getElementById('registerLogin')
nav.style.display ="block"
nav.style.display = "flex"




var album = document.getElementById('navShop')
album.style.display = "none"
var album = document.getElementById('navAlbums')
album.style.display = "none"
  var login = document.getElementById('login')
 login.style.display = "block"
 var register = document.getElementById('register')
 register.style.display = "block" 
 console.log(register)
 console.log(login)
 login.addEventListener('click', function(){
    document.getElementById('id04').style.display = "none"
    document.getElementById('id09').style.display = "block"
     })
</script>

<script>  
var nav = document.querySelectorAll('.smooth-scroll')
console.log(nav)
for(let i = 0; i < nav.length; i ++){
nav[i].style.display = 'none'
}
</script>
{% endblock javascripts %}

