{% extends 'base.html.twig' %}

{% block title %} DISTOTAL |  {% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}
<section class="wrapper __border" >
        <section class="shopContainer">
          
<h1 class="__title  __sticky __wandb target" id="artistes" data-target="artistes">Mes informations personnelles </h1> 
    {% if is_granted('ROLE_USER') %}
            <a href="">   <h2> Modifier mes informations </h2> </a>
            <a href=""> <h2> Supprimer mon compte </h2> </a>
            <a href=""> <h2>Télécharger mes informations personnelles</h2> </a>
    {% else %}
    <h2> Afin d'acceder à vos informations personnelles, veuillez vous connecter. </h2>
    {% endif %}
        </section>
</section>

{% block body %}
{% endblock %}