

{% block body %}
<section style="width:1050px" class="__border">
<style type="text/css">

    span.cls_002{font-family:"Segoe UI Bold",serif;font-size:22.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_002{font-family:"Segoe UI Bold",serif;font-size:22.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_003{font-family:"Segoe UI Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_003{font-family:"Segoe UI Bold",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_007{font-family:"Segoe UI Bold",serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
    div.cls_007{font-family:"Segoe UI Bold",serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_005{font-family:"Segoe UI",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_005{font-family:"Segoe UI",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_004{font-family:"Segoe UI Bold",serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_004{font-family:"Segoe UI Bold",serif;font-size:12.9px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_006{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_006{font-family:"Verdana",serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    
    </style>
   
    <div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:25px;top:0px"> <h5> DITOTAL PROD</h5></div>
  
    <div style="position:absolute;left:28.00px;top:41.84px" class="cls_002"><span class="cls_002">Politique de confidentialité (standard RGPD)</span></div>
    <div style="position:absolute;left:28.00px;top:91.07px" class="cls_003"><span class="cls_003">Sécurité et protection des données personnelles</span></div>

  
    
    <div style="position:absolute;left:28.00px;top:358.22px" class="cls_007"><span class="cls_007">Définitions</span><span class="cls_004"> :</span></div>
    <div style="position:absolute;left:28.00px;top:392.87px" class="cls_003"><span class="cls_003">L'Éditeur</span><span class="cls_005"> : La personne, physique ou morale, qui édite les services de communication au public en ligne.</span></div>
    <div style="position:absolute;left:28.00px;top:407.87px" class="cls_003"><span class="cls_003">Le Site</span><span class="cls_005"> : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.</span></div>
    <div style="position:absolute;left:28.00px;top:422.87px" class="cls_003"><span class="cls_003">L'Utilisateur</span><span class="cls_005"> : La personne utilisant le Site et les services.</span></div>
    <div style="position:absolute;left:28.00px;top:454.82px" class="cls_004"><span class="cls_004">Nature des données collectées</span></div>
    <div style="position:absolute;left:28.00px;top:489.47px" class="cls_003"><span class="cls_003">Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories de données</span></div>
    <div style="position:absolute;left:28.00px;top:504.47px" class="cls_003"><span class="cls_003">suivantes concernant ses Utilisateurs :</span></div>
    <div style="position:absolute;left:28.00px;top:536.27px" class="cls_005"><span class="cls_005">Données d'état-civil, d'identité, d'identification...</span></div>
    <div style="position:absolute;left:28.00px;top:566.36px" class="cls_004"><span class="cls_004">Communication des données personnelles à des tiers</span></div>
    <div style="position:absolute;left:28.00px;top:601.01px" class="cls_003"><span class="cls_003">Pas de communication à des tiers</span></div>
    <div style="position:absolute;left:28.00px;top:616.01px" class="cls_005"><span class="cls_005">Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés qu'elles</span></div>
    <div style="position:absolute;left:28.00px;top:631.01px" class="cls_005"><span class="cls_005">pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une décision d'une autorité</span></div>
    <div style="position:absolute;left:28.00px;top:646.01px" class="cls_005"><span class="cls_005">réglementaire ou judiciaire compétente.</span></div>
    <div style="position:absolute;left:28.00px;top:692.90px" class="cls_004"><span class="cls_004">Information préalable pour la communication des données personnelles à des tiers en</span></div>
    <div style="position:absolute;left:28.00px;top:710.90px" class="cls_004"><span class="cls_004">cas de fusion / absorption</span></div>
    <div style="position:absolute;left:28.00px;top:743.69px" class="cls_003"><span class="cls_003">Collecte de l’opt-in (consentement) préalable à la transmission des données suite à une fusion /</span></div>
    <div style="position:absolute;left:28.00px;top:758.69px" class="cls_003"><span class="cls_003">acquisition</span></div>
    <div style="position:absolute;left:28.00px;top:787.94px" class="cls_005"><span class="cls_005">Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession</span></div>
    <div style="position:absolute;left:28.00px;top:802.94px" class="cls_005"><span class="cls_005">d’actifs, nous nous engageons à obtenir votre consentement préalable à la transmission de vos données</span></div>
    <div style="position:absolute;left:272.18px;top:822.02px" class="cls_006"><span class="cls_006">Page 1 sur 5</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-297px;top:852px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
    <img src="e5c86e8a-f108-11e9-9d71-0cc47a792c0a_id_e5c86e8a-f108-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=595 height=842></div>
    <div style="position:absolute;left:28.00px;top:21.87px" class="cls_005"><span class="cls_005">personnelles et à maintenir le niveau de confidentialité de vos données personnelles auquel vous avez</span></div>
    <div style="position:absolute;left:28.00px;top:36.87px" class="cls_005"><span class="cls_005">consenti.</span></div>
    <div style="position:absolute;left:28.00px;top:83.76px" class="cls_004"><span class="cls_004">Finalité de la réutilisation des données personnelles collectées</span></div>
    <div style="position:absolute;left:28.00px;top:118.41px" class="cls_003"><span class="cls_003">Effectuer les opérations relatives à la gestion des clients concernant</span></div>
    <div style="position:absolute;left:58.53px;top:150.21px" class="cls_005"><span class="cls_005">• les contrats ; les commandes ; les livraisons ; les factures ; la comptabilité et en particulier la gestion</span></div>
    <div style="position:absolute;left:68.00px;top:165.21px" class="cls_005"><span class="cls_005">des comptes clients</span></div>
    <div style="position:absolute;left:58.53px;top:180.21px" class="cls_005"><span class="cls_005">• un programme de fidélité au sein d'une entité ou plusieurs entités juridiques ;</span></div>
    <div style="position:absolute;left:58.53px;top:195.21px" class="cls_005"><span class="cls_005">• le suivi de la relation client tel que la réalisation d'enquêtes de satisfaction, la gestion des réclamations</span></div>
    <div style="position:absolute;left:68.00px;top:210.21px" class="cls_005"><span class="cls_005">et du service après-vente</span></div>
    <div style="position:absolute;left:58.53px;top:225.21px" class="cls_005"><span class="cls_005">• la sélection de clients pour réaliser des études, sondages et tests produits (sauf consentement des</span></div>
    <div style="position:absolute;left:68.00px;top:240.21px" class="cls_005"><span class="cls_005">personnes concernées recueilli dans les conditions prévues à l’article 6, ces opérations ne doivent pas</span></div>
    <div style="position:absolute;left:68.00px;top:255.21px" class="cls_005"><span class="cls_005">conduire à l'établissement de profils susceptibles de faire apparaître des données sensibles - origines</span></div>
    <div style="position:absolute;left:68.00px;top:270.21px" class="cls_005"><span class="cls_005">raciales ou ethniques, opinions philosophiques, politiques, syndicales, religieuses, vie sexuelle ou santé</span></div>
    <div style="position:absolute;left:68.00px;top:285.21px" class="cls_005"><span class="cls_005">des personnes)</span></div>
    <div style="position:absolute;left:28.00px;top:333.81px" class="cls_003"><span class="cls_003">La gestion des demandes de droit d'accès, de rectification et d'opposition</span></div>
    <div style="position:absolute;left:28.00px;top:363.90px" class="cls_004"><span class="cls_004">Agrégation des données</span></div>
    <div style="position:absolute;left:28.00px;top:398.55px" class="cls_003"><span class="cls_003">Agrégation avec des données non personnelles</span></div>
    <div style="position:absolute;left:28.00px;top:413.55px" class="cls_005"><span class="cls_005">Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à tous nos</span></div>
    <div style="position:absolute;left:28.00px;top:428.55px" class="cls_005"><span class="cls_005">Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous combinons de manière à ce</span></div>
    <div style="position:absolute;left:28.00px;top:443.55px" class="cls_005"><span class="cls_005">qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à</span></div>
    <div style="position:absolute;left:28.00px;top:458.55px" class="cls_005"><span class="cls_005">des fins d'analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et</span></div>
    <div style="position:absolute;left:28.00px;top:473.55px" class="cls_005"><span class="cls_005">publicitaires et à d'autres fins commerciales.</span></div>
    <div style="position:absolute;left:28.00px;top:505.35px" class="cls_003"><span class="cls_003">Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur</span></div>
    <div style="position:absolute;left:28.00px;top:520.35px" class="cls_005"><span class="cls_005">Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés, ledit service</span></div>
    <div style="position:absolute;left:28.00px;top:535.35px" class="cls_005"><span class="cls_005">pourra nous communiquer vos informations de profil, de connexion, ainsi que toute autre information dont</span></div>
    <div style="position:absolute;left:28.00px;top:550.35px" class="cls_005"><span class="cls_005">vous avez autorisé la divulgation. Nous pouvons agréger les informations relatives à tous nos autres</span></div>
    <div style="position:absolute;left:28.00px;top:565.35px" class="cls_005"><span class="cls_005">Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.</span></div>
    <div style="position:absolute;left:28.00px;top:597.30px" class="cls_004"><span class="cls_004">Collecte des données d'identité</span></div>
    <div style="position:absolute;left:28.00px;top:631.95px" class="cls_003"><span class="cls_003">Inscription et identification préalable pour la fourniture du service</span></div>
    <div style="position:absolute;left:28.00px;top:646.95px" class="cls_005"><span class="cls_005">L’utilisation du Site nécessite une inscription et une identification préalable. Vos données nominatives (nom,</span></div>
    <div style="position:absolute;left:28.00px;top:661.95px" class="cls_005"><span class="cls_005">prénom, adresse postale, e-mail, numéro de téléphone,...) sont utilisées pour exécuter nos obligations légales</span></div>
    <div style="position:absolute;left:28.00px;top:676.95px" class="cls_005"><span class="cls_005">résultant de la livraison des produits et / ou des services, en vertu du Contrat de licence utilisateur final, de la</span></div>
    <div style="position:absolute;left:28.00px;top:691.95px" class="cls_005"><span class="cls_005">Limite de garantie, le cas échéant, ou de toute autre condition applicable. Vous ne fournirez pas de fausses</span></div>
    <div style="position:absolute;left:28.00px;top:706.95px" class="cls_005"><span class="cls_005">informations nominatives et ne créerez pas de compte pour une autre personne sans son autorisation. Vos</span></div>
    <div style="position:absolute;left:28.00px;top:721.95px" class="cls_005"><span class="cls_005">coordonnées devront toujours être exactes et à jour.</span></div>
    <div style="position:absolute;left:28.00px;top:768.84px" class="cls_004"><span class="cls_004">Collecte des données d'identification</span></div>
    <div style="position:absolute;left:28.00px;top:803.49px" class="cls_003"><span class="cls_003">Utilisation de l'identifiant de l'utilisateur pour proposition de mise en relation et offres commerciales</span></div>
    <div style="position:absolute;left:272.18px;top:822.02px" class="cls_006"><span class="cls_006">Page 2 sur 5</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-297px;top:1704px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
    <img src="e5c86e8a-f108-11e9-9d71-0cc47a792c0a_id_e5c86e8a-f108-11e9-9d71-0cc47a792c0a_files/background3.jpg" width=595 height=842></div>
    <div style="position:absolute;left:28.00px;top:21.87px" class="cls_005"><span class="cls_005">Nous utilisons vos identifiants électroniques pour rechercher des relations présentes par connexion, par</span></div>
    <div style="position:absolute;left:28.00px;top:36.87px" class="cls_005"><span class="cls_005">adresse mail ou par services. Nous pouvons utiliser vos informations de contact pour permettre à d'autres</span></div>
    <div style="position:absolute;left:28.00px;top:51.87px" class="cls_005"><span class="cls_005">personnes de trouver votre compte, notamment via des services tiers et des applications clientes. Vous pouvez</span></div>
    <div style="position:absolute;left:28.00px;top:66.87px" class="cls_005"><span class="cls_005">télécharger votre carnet d'adresses afin que nous soyons en mesure de vous aider à trouver des connaissances</span></div>
    <div style="position:absolute;left:28.00px;top:81.87px" class="cls_005"><span class="cls_005">sur notre réseau ou pour permettre à d'autres Utilisateurs de notre réseau de vous trouver. Nous pouvons vous</span></div>
    <div style="position:absolute;left:28.00px;top:96.87px" class="cls_005"><span class="cls_005">proposer des suggestions, à vous et à d'autres Utilisateurs du réseau, à partir des contacts importés de votre</span></div>
    <div style="position:absolute;left:28.00px;top:111.87px" class="cls_005"><span class="cls_005">carnet d’adresses. Nous sommes susceptibles de travailler en partenariat avec des sociétés qui proposent des</span></div>
    <div style="position:absolute;left:28.00px;top:126.87px" class="cls_005"><span class="cls_005">offres incitatives. Pour prendre en charge ce type de promotion et d'offre incitative, nous sommes susceptibles</span></div>
    <div style="position:absolute;left:28.00px;top:141.87px" class="cls_005"><span class="cls_005">de partager votre identifiant électronique.</span></div>
    <div style="position:absolute;left:28.00px;top:188.76px" class="cls_004"><span class="cls_004">Collecte des données du terminal</span></div>
    <div style="position:absolute;left:28.00px;top:223.41px" class="cls_003"><span class="cls_003">Aucune collecte des données techniques</span></div>
    <div style="position:absolute;left:28.00px;top:238.41px" class="cls_005"><span class="cls_005">Nous ne collectons et ne conservons aucune donnée technique de votre appareil (adresse IP, fournisseur</span></div>
    <div style="position:absolute;left:28.00px;top:253.41px" class="cls_005"><span class="cls_005">d'accès à Internet...).</span></div>
    <div style="position:absolute;left:28.00px;top:300.30px" class="cls_004"><span class="cls_004">Cookies</span></div>
    <div style="position:absolute;left:28.00px;top:334.95px" class="cls_003"><span class="cls_003">Durée de conservation des cookies</span></div>
    <div style="position:absolute;left:28.00px;top:349.95px" class="cls_005"><span class="cls_005">Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de 13</span></div>
    <div style="position:absolute;left:28.00px;top:364.95px" class="cls_005"><span class="cls_005">mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité</span></div>
    <div style="position:absolute;left:28.00px;top:379.95px" class="cls_005"><span class="cls_005">du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée</span></div>
    <div style="position:absolute;left:28.00px;top:394.95px" class="cls_005"><span class="cls_005">à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</span></div>
    <div style="position:absolute;left:28.00px;top:426.75px" class="cls_003"><span class="cls_003">Finalité cookies</span></div>
    <div style="position:absolute;left:28.00px;top:441.75px" class="cls_005"><span class="cls_005">Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les services rendus à</span></div>
    <div style="position:absolute;left:28.00px;top:456.75px" class="cls_005"><span class="cls_005">l'Utilisateur, à partir du traitement des informations concernant la fréquence d'accès, la personnalisation des</span></div>
    <div style="position:absolute;left:28.00px;top:471.75px" class="cls_005"><span class="cls_005">pages ainsi que les opérations réalisées et les informations consultées.</span></div>
    <div style="position:absolute;left:28.00px;top:486.75px" class="cls_005"><span class="cls_005">Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le cookie enregistre</span></div>
    <div style="position:absolute;left:28.00px;top:501.75px" class="cls_005"><span class="cls_005">des informations relatives à la navigation sur le service (les pages que vous avez consultées, la date et l'heure</span></div>
    <div style="position:absolute;left:28.00px;top:516.75px" class="cls_005"><span class="cls_005">de la consultation...) que nous pourrons lire lors de vos visites ultérieures.</span></div>
    <div style="position:absolute;left:28.00px;top:548.55px" class="cls_003"><span class="cls_003">Opt-in pour le dépôt de cookies</span></div>
    <div style="position:absolute;left:28.00px;top:563.55px" class="cls_005"><span class="cls_005">Nous n'utilisons pas de cookies. Si nous devions en utiliser à l’avenir, vous en seriez informé préalablement et</span></div>
    <div style="position:absolute;left:28.00px;top:578.55px" class="cls_005"><span class="cls_005">auriez la possibilité de désactiver ces cookies.</span></div>
    <div style="position:absolute;left:28.00px;top:625.44px" class="cls_004"><span class="cls_004">Conservation des données techniques</span></div>
    <div style="position:absolute;left:28.00px;top:660.09px" class="cls_003"><span class="cls_003">Durée de conservation des données techniques</span></div>
    <div style="position:absolute;left:28.00px;top:675.09px" class="cls_005"><span class="cls_005">Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation des finalités</span></div>
    <div style="position:absolute;left:28.00px;top:690.09px" class="cls_005"><span class="cls_005">visées ci-avant.</span></div>
    <div style="position:absolute;left:28.00px;top:722.04px" class="cls_004"><span class="cls_004">Délai de conservation des données personnelles et d'anonymisation</span></div>
    <div style="position:absolute;left:28.00px;top:756.69px" class="cls_003"><span class="cls_003">Conservation des données pendant la durée de la relation contractuelle</span></div>
    <div style="position:absolute;left:28.00px;top:771.69px" class="cls_005"><span class="cls_005">Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux</span></div>
    <div style="position:absolute;left:28.00px;top:786.69px" class="cls_005"><span class="cls_005">libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont pas conservées au-delà du</span></div>
    <div style="position:absolute;left:28.00px;top:801.69px" class="cls_005"><span class="cls_005">temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée</span></div>
    <div style="position:absolute;left:272.18px;top:822.02px" class="cls_006"><span class="cls_006">Page 3 sur 5</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-297px;top:2556px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
    <img src="e5c86e8a-f108-11e9-9d71-0cc47a792c0a_id_e5c86e8a-f108-11e9-9d71-0cc47a792c0a_files/background4.jpg" width=595 height=842></div>
    <div style="position:absolute;left:28.00px;top:21.87px" class="cls_005"><span class="cls_005">prédéfinie de la relation contractuelle.</span></div>
    <div style="position:absolute;left:28.00px;top:53.67px" class="cls_003"><span class="cls_003">Conservation des données anonymisées au delà de la relation contractuelle / après la suppression du</span></div>
    <div style="position:absolute;left:28.00px;top:68.67px" class="cls_003"><span class="cls_003">compte</span></div>
    <div style="position:absolute;left:28.00px;top:83.67px" class="cls_005"><span class="cls_005">Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation des finalités</span></div>
    <div style="position:absolute;left:28.00px;top:98.67px" class="cls_005"><span class="cls_005">décrites dans les présentes CGU. Au-delà de cette durée, elles seront anonymisées et conservées à des fins</span></div>
    <div style="position:absolute;left:28.00px;top:113.67px" class="cls_005"><span class="cls_005">exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.</span></div>
    <div style="position:absolute;left:28.00px;top:162.27px" class="cls_003"><span class="cls_003">Suppression des données après suppression du compte</span></div>
    <div style="position:absolute;left:28.00px;top:177.27px" class="cls_005"><span class="cls_005">Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la</span></div>
    <div style="position:absolute;left:28.00px;top:192.27px" class="cls_005"><span class="cls_005">durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées</span></div>
    <div style="position:absolute;left:28.00px;top:207.27px" class="cls_005"><span class="cls_005">est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux</span></div>
    <div style="position:absolute;left:28.00px;top:222.27px" class="cls_005"><span class="cls_005">libertés, vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout</span></div>
    <div style="position:absolute;left:28.00px;top:237.27px" class="cls_005"><span class="cls_005">moment en prenant contact avec l'Éditeur.</span></div>
    <div style="position:absolute;left:28.00px;top:269.07px" class="cls_003"><span class="cls_003">Suppression des données après 3 ans d'inactivité</span></div>
    <div style="position:absolute;left:28.00px;top:284.07px" class="cls_005"><span class="cls_005">Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,</span></div>
    <div style="position:absolute;left:28.00px;top:299.07px" class="cls_005"><span class="cls_005">vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront</span></div>
    <div style="position:absolute;left:28.00px;top:314.07px" class="cls_005"><span class="cls_005">supprimées de nos bases de données.</span></div>
    <div style="position:absolute;left:28.00px;top:346.02px" class="cls_004"><span class="cls_004">Suppression du compte</span></div>
    <div style="position:absolute;left:28.00px;top:380.67px" class="cls_003"><span class="cls_003">Suppression du compte à la demande</span></div>
    <div style="position:absolute;left:28.00px;top:395.67px" class="cls_005"><span class="cls_005">L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur OU par</span></div>
    <div style="position:absolute;left:28.00px;top:410.67px" class="cls_005"><span class="cls_005">le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.</span></div>
    <div style="position:absolute;left:28.00px;top:442.47px" class="cls_003"><span class="cls_003">Suppression du compte en cas de violation des CGU</span></div>
    <div style="position:absolute;left:28.00px;top:457.47px" class="cls_005"><span class="cls_005">En cas de violation d'une ou de plusieurs dispositions des CGU ou de tout autre document incorporé aux</span></div>
    <div style="position:absolute;left:28.00px;top:472.47px" class="cls_005"><span class="cls_005">présentes par référence, l'Éditeur se réserve le droit de mettre fin ou restreindre sans aucun avertissement</span></div>
    <div style="position:absolute;left:28.00px;top:487.47px" class="cls_005"><span class="cls_005">préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à tous les Sites.</span></div>
    <div style="position:absolute;left:28.00px;top:519.42px" class="cls_004"><span class="cls_004">Indications en cas de faille de sécurité décelée par l'Éditeur</span></div>
    <div style="position:absolute;left:28.00px;top:554.07px" class="cls_003"><span class="cls_003">Information de l'Utilisateur en cas de faille de sécurité</span></div>
    <div style="position:absolute;left:28.00px;top:569.07px" class="cls_005"><span class="cls_005">Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées afin</span></div>
    <div style="position:absolute;left:28.00px;top:584.07px" class="cls_005"><span class="cls_005">de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels, non autorisés ou illégaux,</span></div>
    <div style="position:absolute;left:28.00px;top:599.07px" class="cls_005"><span class="cls_005">de divulgation, d'altération, de perte ou encore de destruction des données personnelles vous concernant.</span></div>
    <div style="position:absolute;left:28.00px;top:614.07px" class="cls_005"><span class="cls_005">Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles vous</span></div>
    <div style="position:absolute;left:28.00px;top:629.07px" class="cls_005"><span class="cls_005">concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour</span></div>
    <div style="position:absolute;left:28.00px;top:644.07px" class="cls_005"><span class="cls_005">conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</span></div>
    <div style="position:absolute;left:58.53px;top:675.87px" class="cls_005"><span class="cls_005">• Vous notifier l'incident dans les plus brefs délais ;</span></div>
    <div style="position:absolute;left:58.53px;top:690.87px" class="cls_005"><span class="cls_005">• Examiner les causes de l'incident et vous en informer ;</span></div>
    <div style="position:absolute;left:58.53px;top:705.87px" class="cls_005"><span class="cls_005">• Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs et</span></div>
    <div style="position:absolute;left:68.00px;top:720.87px" class="cls_005"><span class="cls_005">préjudices pouvant résulter dudit incident</span></div>
    <div style="position:absolute;left:28.00px;top:769.47px" class="cls_003"><span class="cls_003">Limitation de la responsabilité</span></div>
    <div style="position:absolute;left:28.00px;top:784.47px" class="cls_005"><span class="cls_005">En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille de sécurité ne</span></div>
    <div style="position:absolute;left:28.00px;top:799.47px" class="cls_005"><span class="cls_005">peuvent être assimilés à une quelconque reconnaissance de faute ou de responsabilité quant à la survenance</span></div>
    <div style="position:absolute;left:272.18px;top:822.02px" class="cls_006"><span class="cls_006">Page 4 sur 5</span></div>
    </div>
    <div style="position:absolute;left:50%;margin-left:-297px;top:3408px;width:595px;height:842px;border-style:outset;overflow:hidden">
    <div style="position:absolute;left:0px;top:0px">
    <img src="e5c86e8a-f108-11e9-9d71-0cc47a792c0a_id_e5c86e8a-f108-11e9-9d71-0cc47a792c0a_files/background5.jpg" width=595 height=842></div>
    <div style="position:absolute;left:28.00px;top:21.87px" class="cls_005"><span class="cls_005">de l'incident en question.</span></div>
    <div style="position:absolute;left:28.00px;top:53.82px" class="cls_004"><span class="cls_004">Transfert des données personnelles à l'étranger</span></div>
    <div style="position:absolute;left:28.00px;top:88.47px" class="cls_003"><span class="cls_003">Pas de transfert en dehors de l'Union européenne</span></div>
    <div style="position:absolute;left:28.00px;top:103.47px" class="cls_005"><span class="cls_005">L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors de l'Union</span></div>
    <div style="position:absolute;left:28.00px;top:118.47px" class="cls_005"><span class="cls_005">européenne.</span></div>
    <div style="position:absolute;left:28.00px;top:165.36px" class="cls_004"><span class="cls_004">Modification des CGU et de la politique de confidentialité</span></div>
    <div style="position:absolute;left:28.00px;top:200.01px" class="cls_003"><span class="cls_003">En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de</span></div>
    <div style="position:absolute;left:28.00px;top:215.01px" class="cls_003"><span class="cls_003">manière substantielle sans l'information préalable des personnes concernées</span></div>
    <div style="position:absolute;left:28.00px;top:230.01px" class="cls_005"><span class="cls_005">Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU, et à ne pas</span></div>
    <div style="position:absolute;left:28.00px;top:245.01px" class="cls_005"><span class="cls_005">baisser le niveau de confidentialité de vos données de manière substantielle sans vous en informer et obtenir</span></div>
    <div style="position:absolute;left:28.00px;top:260.01px" class="cls_005"><span class="cls_005">votre consentement.</span></div>
    <div style="position:absolute;left:28.00px;top:291.96px" class="cls_004"><span class="cls_004">Droit applicable et modalités de recours</span></div>
    <div style="position:absolute;left:28.00px;top:326.61px" class="cls_003"><span class="cls_003">Application du droit français (législation CNIL) et compétence des tribunaux</span></div>
    <div style="position:absolute;left:28.00px;top:341.61px" class="cls_005"><span class="cls_005">Les présentes CGU et votre utilisation du Site sont régies et interprétées conformément aux lois de France, et</span></div>
    <div style="position:absolute;left:28.00px;top:356.61px" class="cls_005"><span class="cls_005">notamment à la Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le choix de</span></div>
    <div style="position:absolute;left:28.00px;top:371.61px" class="cls_005"><span class="cls_005">la loi applicable ne porte pas atteinte à vos droits en tant que consommateur conformément à la loi applicable</span></div>
    <div style="position:absolute;left:28.00px;top:386.61px" class="cls_005"><span class="cls_005">de votre lieu de résidence. Si vous êtes un consommateur, vous et nous acceptons de se soumettre à la</span></div>
    <div style="position:absolute;left:28.00px;top:401.61px" class="cls_005"><span class="cls_005">compétence non-exclusive des juridictions françaises, ce qui signifie que vous pouvez engager une action</span></div>
    <div style="position:absolute;left:28.00px;top:416.61px" class="cls_005"><span class="cls_005">relative aux présentes CGU en France ou dans le pays de l'UE dans lequel vous vivez. Si vous êtes un</span></div>
    <div style="position:absolute;left:28.00px;top:431.61px" class="cls_005"><span class="cls_005">professionnel, toutes les actions à notre encontre doivent être engagées devant une juridiction en France.</span></div>
    <div style="position:absolute;left:28.00px;top:460.86px" class="cls_005"><span class="cls_005">En cas de litige, les parties chercheront une solution amiable avant toute action judiciaire. En cas d'échec de</span></div>
    <div style="position:absolute;left:28.00px;top:475.86px" class="cls_005"><span class="cls_005">ces tentatives, toutes contestations à la validité, l'interprétation et / ou l'exécution des présentes CGU devront</span></div>
    <div style="position:absolute;left:28.00px;top:490.86px" class="cls_005"><span class="cls_005">être portées même en cas de pluralité des défendeurs ou d'appel en garantie, devant les tribunaux français.</span></div>
    <div style="position:absolute;left:28.00px;top:537.75px" class="cls_004"><span class="cls_004">Portabilité des données</span></div>
    <div style="position:absolute;left:28.00px;top:572.40px" class="cls_003"><span class="cls_003">Portabilité des données</span></div>
    <div style="position:absolute;left:28.00px;top:587.40px" class="cls_005"><span class="cls_005">L'Éditeur s'engage à vous offrir la possibilité de vous faire restituer l'ensemble des données vous concernant</span></div>
    <div style="position:absolute;left:28.00px;top:602.40px" class="cls_005"><span class="cls_005">sur simple demande. L'Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la</span></div>
    <div style="position:absolute;left:28.00px;top:617.40px" class="cls_005"><span class="cls_005">possibilité de les réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.</span></div>
    <div style="position:absolute;left:272.18px;top:822.02px" class="cls_006"><span class="cls_006">Page 5 sur 5</span></div>
    </div>
</section>


{% endblock %}


{% block javascript %}
<script>
   var footer =  document.getElementsByClassName("footer")
   footer.style.bottom ="0"

</script>

<script type="text/javascript" src="e5c86e8a-f108-11e9-9d71-0cc47a792c0a_id_e5c86e8a-f108-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>

{% endblock %}