{% extends 'base.html.twig' %}

{% block title %} DISTOTAL | SHOP {% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}
{% block body %}

<section class=" __border ">
    <div class="__title  __wandb bdb navShop " data-target="shop" id="shopNavW">
        <a id="shop"> Shop </a>  
        <div class="dropdown">
                <div class="dropbtn" id="category"> <a> Categories </a> </div>
                <div class="dropdown-content">
                    {% for cat in category %}
                        <a data-switch="{{cat.name}}" class="btnSwitch"> 
                            <h5>{{ cat.name }} </h5> 
                        </a>
                    {% endfor %}
                </div>
        </div> 
            <div class="dropdown">
            <div> <a href='{{ path('cart') }}'>  Panier : {{ app.session.get('cart_data')['total_amount'] ?? 00}} </a> </div>
                <div class="dropdown-content">
                    {% for product in app.session.get('cart') %}
                    <div style="display: flex; justify-content:space-between; padding:0.1em;">
                        <h6> {{ product.name }} </h6> 
                        <h6> {{ product.amount}}  </h6>
                    </div>  
                    {% endfor %}
                </div>
            </div>
            {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <p style="font-size: 0.4em"> {{ message }} </p>
            </div>
            {% endfor %}     
    </div> 

  
        <section class="section__products">
            {% for product in products %}
                <div class="card" data-category="{{product.category.name}}"> 
                       <div class="containerCard">
                        <img src="assets/pictures/{{ product.picture }}" alt="{{ product.name }}" class="imageCard">
                        <a id="{{product.id}}" class="btnAjax" href='{{ path('add_to_cart', {id:product.id}) }}'> <div class="overlay">
                            <i class="fas fa-shopping-cart" ></i>
                        </div>
                    </div>
                    <div class="cardwhite">
                        <h1>{{product.name}}</h1> </a>
                        <p class="price"> {{product.price}} Euros </p>
                        <p>{{product.describes}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
</section>

    



{# modal #}

 <!-- Button to open the modal login form -->

<!-- The Modal LOGIN  -->
<div id="id03" class="modal">
    <span onclick="document.getElementById('id03').style.display='none'"
    class="close" title="Close Modal">&times;</span>
    <!-- Modal Content -->
    <div class="modal-content animate">
        <h2> Mon compte </h2> <br>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <br>
                <h3> Mes informations personnelles : </h3>
                <form action="{{path('update_user')}}" method="POST">
                        <label for="prenom"> Prénom </label>
                        <input type="text" name='prenom' placeholder="{{app.user.firstname}}">
                        <label for="email"> Nom </label>
                        <input type="text" name='nom' placeholder="{{app.user.lastname}}">
                        <label for="email"> Email </label>
                        <input type="text" name='email' placeholder="{{app.user.email}}">
                        <label class="switch">
                                <input type="checkbox" name="newsletter">
                                <span class="slider"></span>
                        </label>
                        <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
                        <input type="submit" value="Modifier">
                </form> <br>
                {% if is_granted('ROLE_USER') %}
                <a href="#"> Télécharger mes données (PDF) </a> <br>
                <a href="{{path("delete_user")}}" onclick="return(confirm('Etes-vous sûr de vouloir supprimer votre compte ?'));"> Supprimer mon compte </a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <h3> Mes droits </h3>
                <p> Rôle :  Administrateur </p> 
                <a href="{{ path('panel_admin')}}"> Admin Panel </a> <br>
                {% endif %}
                <br>
                <a href="{{ path('logout')}}"> Logout </a> <br> 
            {% else  %} 
            <div class="container">
                    <h3> Login </h3>
                    {{form_start(formLogin, { 'attr': {'id': 'modal'}}) }}
                    {{form_widget(formLogin)}}
                    {{form_end(formLogin)}}
    
                    <div>
                            <a  href="{{ path('register') }}"> Register </a> <br>
                            <a  href="{{ path('forgotten_password') }}"> Mot de passe oublié ? </a> <br>
                        </div> 
                    </div>
            {% endif %}
            <br>
                <br>
        <div class="container" style="background-color:#180c0c">
        <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Quitter</button>   
        </div>
    </div>
</div> 


{% endblock %}



{% block javascripts %}

<script>
    function myBurger() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
        x.style.flexDirection = "column"
      } else {
        x.className = "topnav";
        x.style.flexDirection = "row"
      }
    }
    </script>

 
<script> 
        var rotateElemContainer = document.createElement('div')
        var div = document.createElement('div')
        div.style.marginLeft ="-40em";
        div.setAttribute('class', 'rot4')
     
        rotateElemContainer.insertAdjacentElement('beforeEnd', div)
        rotateElemContainer.style.width ="30em";
       
        var bg = document.getElementsByClassName('wrapper')
        bg[0].parentElement.insertAdjacentElement('beforeBegin', rotateElemContainer)
        rotateElemContainer.setAttribute('class', 'rot3')
        if(document.documentElement.clientWidth <= 600){
          rotateElemContainer.style.display ='none'

        }
    
     </script>
<script>
       
        var login = document.getElementById('login')
        login.addEventListener('click', function(){
            document.getElementById('id03').style.display = "block"
        })
</script>

    <script> // BG rotation
        var rotateElemContainer = document.createElement('div')
        var div = document.createElement('div')
        div.setAttribute('class', 'bgRot')
        rotateElemContainer.insertAdjacentElement('beforeEnd', div)
        var bg = document.getElementsByClassName('wrapper')
        bg[0].parentElement.insertAdjacentElement('afterBegin', rotateElemContainer)
        rotateElemContainer.setAttribute('class', 'rot3')
        window.addEventListener('scroll', function(){
            var s = window.scrollY
            div.style.transform = "rotate(" + s*0.3 + "deg)"
        })  
    </script>
   

<script>
    // switch category /
    var cards = Array.from(document.getElementsByClassName('card'))
    var btns = Array.from(document.getElementsByClassName('btnSwitch'))
    btns.forEach(function(e){
        e.addEventListener('click', function(t){
            for(let i = 0 ; i < cards.length; i ++){
                if(e.dataset.switch !== cards[i].dataset.category){
                    cards[i].style.display='none'
                } else {
                    cards[i].style.display='block'
                }
            }
        })
    })

    var shop = document.getElementById('shop')
    shop.addEventListener('click', function(){
        cards.forEach(function(e){
            for(let i = 0 ; i < cards.length; i ++){
                cards[i].style.display='block'
        }
    })

        
    })
  

    
  

</script>

<script>
    var nav = document.querySelectorAll('.smooth-scroll')
    for(let i = 0; i < nav.length; i ++){
        nav[i].style.display = 'none'
    }

     
</script>
     

    <script>
        var modal = document.getElementById('id03');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
        </script> 
        <script>
        // Get the modal REGISTER
        var modal = document.getElementById('id03');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
    </script> 

{% endblock javascripts %}
