#albumContainer{
	max-height: 100vh;
	width: 1050px;
	border: 2px solid black;
}

.slider__navi {
	position: fixed;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.slider__navi a {
	display: block;
	height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;
	box-shadow: none;
	border: none;
	background: rgba(15, 3, 3, 0.89);
}

.slider__navi a.active {
	/* background: rgba(255,255,255,1); */
	background: red;
	height: 1em;
}

/* body {
	position: absolute;
	font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100vh;
} */

.flex__container {
	position: absolute;
	top: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: left;
	-ms-justify-content: left;
	-o-justify-content: left;
	justify-content: left;
	height: 100%;
	width: 1050px;
	padding: 1em;
	
	padding-top: 4.3em;
	overflow: hidden;
}

.flex__container.flex--active {
	width: 1050px;
	
}

.text--sub {
font-size: 0.5em;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	display: flex;
	flex-flow: row wrap;
	color: black;
	margin-left:1em;
	margin-top: 0.5em;
}


.text--big {
	
	padding-top: 0.4em;
 	margin-left: 0.25em;
	position: relative;
	font-size: 5em;
	font-weight: 700;
	color: black;
}

.text--normal {
	font-size: 1em;
	line-height: 22px;
}

#bandcamp{
	color : black; 
	font-size: 3em;
	margin-left:4.4em;
	margin-top:1em;
	z-index: 15;
  }
  

#text__background {

	color:rgb(248, 246, 246);
	position: relative;
	top:7rem;
	right:11rem;
	font-weight: 700;
	font-size: 4em;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}

.artistName {
	font-size: 1em;
}
.flex__item {
	height: 79vh;
	/* background-color: rgba(62, 75, 37, 0.37); */
	transition: transform 0.1s linear;
	
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: left;
	-webkit-align-items: center;
	-ms-align-items: center;
	width: 1050px;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
	border: solid rgb(0, 0, 0) 2px;
}

.flex__item--right {
	position: absolute;
	right: 0;
	width: 30%;
	
	/* background-color: rgba(62, 75, 37, 0.37); */
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;

}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Variable CSS */

.flex--active .flex__item--left {
	/* background: #090c0e; */
}

.flex--active .flex__item--right {
	/* background:#f3f6f7; */
	background-color: rgba(62, 75, 37, 0.37);
}
/* /* .flex--ALBUM .flex__item--left {
	background: #0b914e;
} */




#idiframe{
	z-index: 20;
	width: 23em;
	height: 23em;
	margin-left: 8em;

}

.flex__content {
	height:90vh;
	margin-top: 1em;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
	z-index: 15;
	
}

.album__img {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vw;
	margin-left: -2em;
	padding-top: 1em;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
	z-index: 10;
	font-size: 3em;
}

.artistName{
	font-size: 0.7em;
	margin-left: -1em;
	margin-top: 0.2em;
}

.instru{
	font-size: 0.4em;
	padding-left:7em;

}


.albumCover{
	width: 100%;
	height: 100%;
}


.pictureCover{
margin: 5em;
	border-radius:0.1em;
	margin-top :1em;
}

.audio{
	margin-top :0.5em;
	display: flex;
	flex-direction: column;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .album__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .album__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}


.hidden{
	display:none;

}
.show{
	display:block;

}


.fo{
    position: absolute;
    color: white;
    background-color: black;
    height:4em;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    bottom:0;
    z-index: 40;
	padding-right: 50%;
	margin-right: 50%;
	
  }
