{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    <section class ="formulaire mt-1 col-sm-3">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
    </section>
    {% if label is defined %}
    <section class="label col-sm-6">
    <div class="jumbotron jumbottron-fluid">
        <h1 class="display-8"> {{ label.name }}</h1>
        {% if label.logo is defined %}
        <img width="100px" heigth="100px" src="/public/assets/{{label.logo}}" alt="">
        {% endif %}
        <p class="lead">{{ label.datecreation|date('Y-m-d') }} .</p>
        <hr class="my-2">
        <p> {{ label.paraOne }}</p>
        {% if label.paraTwo is defined %}
        <p> {{ label.paraTwo }}</p>
        {% endif %}
        <p class="lead">
          <a  class="btn btn-outline-primary" href="{{path('update_label', {id:label.id})}}" role="button">Update</a>
          <a class="btn btn-outline-danger" href="{{path('del_label', {id:label.id})}}" role="button"> Delete </a>
        </p>
      </div>
    </section>
    {% endif %} 
</section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock javascripts %}