{% extends 'adminbase.html.twig' %} 

{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}

{% block body %}
    <div class="main">
        {% if form is defined  %}
        <div class ="formulaire mt-1 col-sm-3">
                <a class="navbar-brand" href="#">{{ title }}</a>
                {{form_start(form)}}
                {{form_widget(form)}}
                {{form_row(form.eventdate)}}
                {{form_widget(form.sound, {'attr': {'class': 'widget_hidden'}}) }}
                {{form_widget(form.choice, {'attr': {'id': 'widget_choice'}}) }}
                {{form_end(form)}}
        </div>
        {% endif %}
        <div class="col-sm-6">
            {% if news is defined %}
                {% for article in news %}
                    <div class="  " >
                        <h3 class="table"> {{ article.title }}</h3>
                        <div class="card-body ">
                            <h6 class=""> Event : {{ article.eventdate|date('Y-m-d') }} </h6>
                            <div class="bgi" style="height: 200px; width: 100%; display: block;"> 
                            <div class="card-body">
                                <p class="card-text" style="color:white; font: weigth 900;"> {{ article.text }} </p>
                            </div>
                            <div class="card-footer text-muted">
                            Create At : {{ article.createat|date('Y-m-d') }}
                        </div>
                    </div>
                                    <ul class="list-group list-group-flush">
                                        <a href="{{path('update_news', {id:article.id})}}" class=" text-dark btn btn-info"> Modifier</a>
                                        <a  href="{{path('del_news', {id:article.id})}}" > Supprimer </a>
                                    </div>
                                    </ul>
                            
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script> 
    var json = '{{json}}';
    var path = '{{path}}';
    console.log(json);
    path = path.replace(path, '/assets/pictures/'); 
    let cleanFiles = []
    var split = (json.split('&quot;,&quot'))
    split.forEach(function(i){
        let link = i.toString().replace('[&quot' && '&quot;]', '')
        let e = link.replace('[&quot;','')
        let j = e.replace(';','')
        cleanFiles.push(j.replace(';'+path, ''))
    })
    console.log(cleanFiles);
    backgrounds = document.getElementsByClassName('bgi')// Je récupère la class du background-image
    console.log(backgrounds)
    Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
    var i = 0; 
    Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
    var background = path+cleanFiles[i]

    
        i++; // J'incrémente la variable afin de parcourir le tableau d'pictures.
       e.style.backgroundSize = '100%'
       e.style.backgroundRepeat = "no-repeat"
       e.style.objectFit = 'fill'
       e.style.backgroundPosition ="center"
       e.style.backgroundImage = "url("+background+")";
       return e;
         // A chaque section de groupe (e) j'attribue son background.
    })  

   


</script>

<script>

let btn = document.getElementsByClassName('form-check-input');
console.log(btn);
let formRow = Array.from(document.getElementById("news_sound"))
formRow.forEach(function(e){
e.style.display ="none"

});

btn.forEach(function(e){
    e.addEventListener('click', function(){
        
    })

})




</script>







{% endblock javascripts %}