{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    <div class =" ml-6 formulaire mt-1 col-sm-3">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
    </div>
    <div class="content  ml-3 col-sm-4">
    {% if instruments is defined %}
    <table  class="table" >
        <thead>
            <tr>
                <th>Instrument</th>   
               <th> Options</th>
            </tr>
        </thead>
        {% for instrument in instruments %}
        <tbody>
            <tr class="table"> 
                <td> {{ instrument.name }}</td>
                <td> 
                    <a href="{{path('update_instrument', {id:instrument.id})}}"> 
                    <button class="btn btn-outline-info btn-sm" type="button"> Modifier </button> </a>
              
                    <a href="{{path('del_instrument', {id:instrument.id})}}" > <button class="btn btn-outline-danger btn-sm" type="button"> Supprimer </button> </a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %} 
    </div>
</section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock javascripts %}