nav{
    margin-bottom: 0.5em;
    
}

.main{
    display: flex;
    
}

.wrapperAdmin{
    width : 1250px; 
    margin: auto;
}

.formulaire{
    margin-right: 0.5em;
    width:40%;
}

.label{
    width: 100%;
}

/* GROUPES */ 
.groupes{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
    justify-content: center;
}

/* ALBUM */ 
.albums{
    display: flex;
    flex-flow: row wrap;
    width: 100%;

}
.section__shop{
    display: flex;
}

.albumCOntainer{
    display: flex;
    width: 25em;
    height: 24em;
    margin-right: 1em;
    margin: 1em;
    border: 2px solid black;
    padding: 0.5em;

}
.bgialbum{
   width: 100%;
   height: 100%;
   background-size: cover; 
}

.albumCard{
    width: 15em;
    height: 10em;

}



.albumCard h4{
    padding-top: 0.4em;
}

.optionAlbum{
    margin-top: 1em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.pisteAlbum{
    width: 10em;
    margin-left: 1.5em;

}
/* CONCERT */ 
.concert{
    display: flex;
    flex-flow: row wrap;
}

.card{
  /* margin:1em;   */
}

.news{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.label{
    display: flex;
    flex-direction: row;
    width: 100%;
}


#card-Template{
    width: 100%;
    display: flex;
    flex-flow:wrap;
    justify-content: space-around;
}


.card{
    width: 23em;
    height: 23em;
}

.col{
    width:15em;
    height: 15em;
}

.col-2{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.mailchimpMain{
    display: flex;
}





