
@media screen and (max-width: 600px) {
.wrapper {
-ms-flex: 100%;
flex: 100%;
max-width: 98%;
margin:auto;
}

body{
max-width: 100%;
}

.bgUp .bgRot {
display:none;
}

.rot3{
  width: 100%;
  display: block;
}

/* NAVBAR  */ 
.topnav{
position :relative;
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
.topnav a:not(:last-child) {
display: none;
}
.topnav a.icon {
float: right;
display: block;
}

a.icon {
font-size: 1.5em;
float: right
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

.topnav.responsive .alignNav {
display: flex;
flex-direction: column;
}

.topnav.responsive a.icon {
position: relative;
margin-top: 0.5em;
}

.topnav.responsive a {
float: none;
display: block;
text-align: center;
display: flex;
flex-direction: column;
margin-top: 0.2em;
}

.padLeft{
padding-left:0em;
}
.slideshow-container{
width:100%;
height: 60vh;
padding-left: 0em;
padding-right: 0em;

}
.slideImg{
width: 100%;
height:60vh;
margin-top: -1.5em;
padding-top: 1em;



}
.mySlides{
object-fit: cover;
height:60vh;

}
.fade{
height:60vh;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 85%;
width: auto;
margin-top: -25px;
margin-left:1em;
margin-right:1em;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
#title{
font-size: 1em;
padding-left:0.5em;
}
.padLeft{
padding-left:0.8em;
}
.hr{
margin-left:-0.5em;
margin-right:-0.5em;
margin-top:-1.5em;
}


.__title{
font-size: 1.6em;


}
.__sticky {
position: sticky;
top: 0em;
height: 1.7em;
padding-top: -1.2em;
}

.textNews{
  position: relative;
background-color: rgba(34, 33, 33, 0.733);
font-size : 1em;
padding: 1.2em;
max-width: 90vw;
margin: auto;
border: 2px solid black;

color: white;
}


#audio{
width: 12em;
}

.articleNews{
font-size: 0.7em;

}

.transparent{
position: relative;
font-size: 0.8em;
margin: auto;
padding-top:1em;
min-height: 24vh;
}
.transparent>p{
font-size: 1.2em;

}
.containerArtist {
padding-bottom: 1.5em;
width: 100%;
min-height: 55vh;
}
.bordureArtist{
  width: 90vw;
  margin: auto;
  margin-bottom: 1em;
}

.rot4{

}


.position__rigth{
/* margin:1em */
}
.position__left{
/* margin: auto; */
}
.up{
/* margin-top: 1em;
margin-left:0.5em;
margin-right:1em; */
}
.down{
margin:auto;
/* margin-top: 1em;
margin-left:0em;
margin-right:1em; */
}

.albumName {
position: relative;
display: flex;
font-size: 1.4em;
margin-top:1em;
}


.radio2{
  position: relative;
width: 60vw;
margin: auto;
}
.bButtonGroup>i{
  font-size: 3.5em;

}

.timelineGroup{
  width: 7em;
  height: 1.2em;
  margin-right:0.3em;
  margin-left:0.3em;
  border :2px dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.pButtonGroup{
  left:0;
}
#pButton{
  width:6em;
  margin-right: 0.5em;
}


.cardConcertP{
width:100%;
margin-bottom:0.5em;
}

.cardConcertB {
  display: flex;
  flex-direction: column;
  min-width: 20.01em;
  height: 53vh;
  margin-right: 1em;
  margin-bottom: 1em;
  border: solid 
black 2px;
z-index: 2;
margin-left: 1em;
}

.carousel__view{
width: 100%;
}

.product-list{

width:600px;
}
.js-product-list{
width: 600px;
}

.album__up {
margin-top: -0.5em;
}

.albumHover {
height: 1.5em;
min-width: 8em;
background-color: rgba(14, 13, 13, 0.685);
backface-visibility: hidden;
transition: width 2s;
transition-timing-function: cubic-bezier(0.1, 0.1, 0.1, 1.1);
display: flex;
align-items: center;
padding-left: 0.2em;
}

.albumHover:hover{
background-color: rgba(245, 245, 238, 0.884);
color: rgba(39, 37, 37, 0.938);
min-width:4em;
}

.album__up{
margin-left :0.5em;
}

.album__down{
margin-left :0.5em;
}

.album__left{
margin-left :0.5em;
}

.album__right{
margin-left :0.5em; 
}

.social i{
font-size: 2em; 
margin-top: 2em;
}
.social {
margin-top: 0em;
padding-left : 0em;
}

.social:hover{

font-size: 1.2em;
color: white;
}


.mainConcert{
display: flex;
flex-flow: row wrap;
padding-left: 0.5em ;
padding-right: 0.5em;
background-color: rgb(255, 255, 255);
min-height: 80vh; /*should be the same height as the images*/
z-index: 15;

}

#dnone{
display:flex;
flex-direction: column;
}

.cardConcert{
display: flex;
flex-direction: column;
min-width: 10em;
height:38vh;
margin-left: 0.5em;
margin-right:0.5em;
border: solid black 2px;
z-index: 2;
flex:3;
font-size:0.8em;
}

.placeConcert{
background-color: black;
}

.eventConcert{
font-size: 1.1em;
}

.cont{
display: none;
}

#responsive{
display: block;  
}

.aproposResp{
min-height: 50vh;
padding-top: 2em;
padding: 1.5em;
background-color: rgba(65, 75, 47, 0.37);
border-left: 2px solid black;
border-right: 2px solid black;


}

.tabcontent {
  width:100%;
  display: none;
  height: 100%;
  margin-top:0.5em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--fontText);
  background-color: #fff;
  margin-right: 0.6em;
 padding-right: 0.2em;
 padding-left: 0.3em;
 transition-duration : 0.2s;
}

.mainConcert{
  width: 100%;
  margin: auto;
}

.sectionConcert {
  padding-left: 0em;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 0%;
  align-items: center;
  align-content: center;
}

#iconefooter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#mentions{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}




/* SHOP */ 
.navShop{
  width: 100%;
  font-size: 1.4em;
  position: relative;
}

.section__products{
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px black;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  max-height: 40vh;
  width: 95%;
  margin: auto;
  z-index: 4;
}
.containerCard {
  position: relative;
  width: 100%;
  background-color: white;
}

  }

