

:root {
  --fontTitle : 'Zilla Slab', serif;
  --fontText : 'Open Sans', sans-serif;
}

.shop{
  margin-top: 4em;
  height: 100vh;
  width : 1050px;
  border-bottom: 2px solid black; 
  font-size:0.8em;
}

#panier>h2{
  /* font-size: 1.3em; */
  /* text-align: right; */
}

#shop{
  cursor: pointer;
}

.formRegister{
  width: 100%;
  justify-content: flex-start;
  text-align: left;
}
.formRegister .required{

  text-align: left;
}
.section__products{
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.3em;
    padding-left:0.5em;
    padding-bottom: 2em;
    min-height: 100vh;
    bottom:0;
}

.navShop{
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: 2px solid black;
 position: sticky;
 top: 1.85em;

 
}

.navShop a{
  padding-left: 0.5em; 
  padding-right: 0.5em;
  font-size: 1em;
}


.navShop a:hover{
  background-color: rgba(128, 126, 126, 0.473);
  color: white;

}

#submitRegister{
  color:black;
}

/* Dropdown Button */
.dropbtn {
  background-color: inherit;
  color: black;
  font-family: var(--fontTitle);
 
  border: none;
  transition: all 0.2s;
 
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  color: #000;
  transition: color 2s;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}





/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* width: 5.14em; */
  box-shadow: 0px 8px 16px 0px rgba(252, 249, 249, 0.616);
  z-index: 1;
  min-width: 6em;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  font-size: 1em;
  cursor: pointer;
}




/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(41, 80, 41, 0.466);
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: black;
  color: white;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(141, 138, 138, 0.459);
  color: white;
}
.registerLogin{
  display: flex;
  justify-content:space-around;
  align-content: center;
  align-items: center;
}

.registerLogin>h2{
  display: flex;
}
.btnSwitch{
  margin-bottom: 0.1em;
}
.shopContainer{
  display: flex;
  width: 100%;
  min-height: 100vh ;
}
.__product{
    padding-left:1em;
}

#ok{
  font-size: 1.1em;
  color: black;
  font-family: 'DM Serif Display', serif;
}



i{
  font-size: 0.8em;
}



.containerCard {
  position: relative;
  max-width: 300px;
  background-color: white;
}

/* Make the image to responsive */
.imageCard {
  display: block;
  height: 195px;
  width: 220px;
  object-fit: cover;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cardwhite{
  background-color: white;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #ffffff;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  padding: 1em;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}

.card {
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid 2px black;
    background-color: rgb(255, 255, 255);
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    max-height: 57vh;
    width: 15em;
    z-index: 4;
  }

  .overlay {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  #shopNavW{
    background-color: white;
    z-index: 5;
    
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .card:hover .overlay {
    opacity: 1;
  }

  .card>img{
    display: block;
    height: 14em;
    width: 14em;
    object-fit: cover;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .imageCard>img:hover {
    height: 200px;
  }

  .price {
    color: grey;
  }
  
  .card button {
    color: white;
    background-color: rgb(48, 44, 44);
    cursor: pointer;
    width: 100%;
    
  }

  .shop_register{
    width:10em;
    margin-left: 48em;
    z-index: 4;
  }

  





.btnAjax{
  align-content: flex-end;
  align-items: flex-end;
  
}


/* Modal  */ 
  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 3.7em;
  margin-bottom: 4em;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(177, 175, 175, 0.452); /* Fallback color */
  padding-top: 60px;
  border-top:2px solid black;

}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(255, 255, 255);
  margin-top: -4.2em ; /* 15% from the top and centered */
  border: 2px solid black;
  width: 35%; /* Could be more or less, depending on screen size */
  padding: 1em;
  margin-left: 6.8em;
  
}

#padBg{
}

.cancelbtn{
  text-align: left;
  color: white;
  font-size: inherit;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 3em;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 

  
/* ---------------------------------------------- Order ----------------------------------- */ 

.section_order{
  flex:2;
  margin-top: 1em;
  padding: 1em;
  width: 20em;
}
.section_order .required{
  font-size: 1em;
  font-family: 'DM Serif Display', serif;
}
label.required{
  text-align: left;
  margin-left: 0.8em;
}

.mainOrder{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 5em;
  border-right:2px solid black;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.payment{
  margin-top: -3em;
  z-index: 6;
}

.resumeCard{
  display: flex;
  flex-flow: row wrap;

}

tbody>td{
  padding-left: 0.5em;
}


#cart{
  display: flex;
  margin-right: 1em;
  margin-bottom: 1em;
}



.cardOrder{
  display: flex;

}

.cardOrder>img{
  display: flex;
  max-width: 6em;
  max-height: 6em;
  object-fit: cover;
  margin: 0.5em;


}

#order{
  padding-left: 27em;
  display: flex;
  flex-flow: row wrap;

}

#orderContainer{
width: 1050px;
display: flex;
flex-flow: row wrap;
}

#ordercard{
  width: 12em;
  margin-right: 2.5em;
}
#ordercard img{
  height: 10em;
  width: 10em;
  object-fit: cover;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
}


#validation_order_save{
  color:black;
  font-family: 'DM Serif Display', serif;
  margin-top: 2em;
  font-size: 1.8em;
}

.form-control{
  text-align: left;
}

#posModal{
  display: flex;
  margin-top : -3em;
  margin-right: 39em;
  width: 28em;
  
}


.options{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:0.5em;
}

.options i {
  margin-top: 1.6em;
  font-size: 1.1em;
}
#commande_Valider{
  right: 0;
  font-family: 'DM Serif Display', serif;
  font-size: 1.4em;
}



.bgBtn{
  background-color: rgb(90, 86, 86);
  height: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-around;
  padding-bottom: 1em;
}

.btnShop{
  background-color: #fff;
  margin-top: 1em;
 
  color : black; 
  border: 2px solid black;
  padding: 0.5em 1em 0.5em 1em;
  font-family: 'DM Serif Display', serif;
}

.btnsShop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom:0em;
  left:0;
  
}
  td, tr {
  padding-left:1.5em;
  padding-right:1.5em;
  border: solid black 1px;
}

.fixed{
  margin-left:1em;
  width:33vw;
  margin-top:5em;
  position : fixed;
  display: flex;
}

.formPayment{
  width: 13em;
  height: 5em;
  margin-top:0.5em;
  float:left;
}

.cartProdutSection{
  margin-left:29.5em;
  width: 100%;
  margin-top:4.5em;
  display: flex;
  flex-flow:row wrap;
}


