*{
  box-sizing: border-box;
}

:root {
  --fontTitle : 'Zilla Slab', serif;
  --fontText : 'Open Sans', sans-serif;
  --bgColor : 'white'
}

#open{
  font-family: var(--fontTitle)
}

.wrapper{
  width: 1050px;
  min-height: 100vh;
  margin: auto;
}

.bgUp{
width: 80%;
}

a{
  text-decoration: none;
  color: inherit;
}
#titrelabel{
font-size: 2.5em;
  color: white;
  transition: 0.4s;  
}


.__border{
  border-left: 2px solid black; 
  border-right: 2px solid black; 
  background-color: rgba(255, 255, 255, 0)
}
.__wandb{
color: black;


}
.__tandb{
background-color: rgba(255, 255, 255, 0);
color: black;
}



.__bandw{
  background-color:rgb(255, 255, 255);
 /* border-top: 2px solid black; */
/* border-bottom: 2px solid black;  */
color: black;
}

.padLeft{
  padding-left: 0.7em;
}
#submitRegister{
  color : black;
}

/* --------------------------NAVBAR--------------------- */

.topnav {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  align-content: flex-end;

  padding-left: 1em; 
  padding-right: 0.5em;
  width: 1050px;
  z-index:6;
}

.alignNav{
  display: flex;
  flex-direction: row;
  align-items: center;;
  align-content:center;
  color: white;
  margin-bottom: 0.6em;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
  font-family: var(--fontTitle);
  margin-left: 0.8em;
  font-size: 1.14em;
  transition: 0.4s;
}
/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: rgba(179, 170, 170, 0.829)
  
}

.topnav i{
  font-size: 1.2em;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* Add an active class to highlight the current page */

.clipArticle{
  
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.textNews{
  position : absolute;
  margin-top: 2.5em;
 /* width: 30vw;  */
 background-color: rgba(24, 23, 23, 0.493);
 color:white;
 padding: 0.5em;
 font-size : 1.1em;
 margin-left: 30.5em;
 padding: 0.5em;
 max-width: 22em;
 border: 2px solid black;
}

/* -----------------------------SlideSHOW--------------------- */ 
.slideshow-container {
  max-width: 1050px;
  position: relative;
  padding-left : 1em;
  padding-right : 1em;
  
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.hr{
  display: flex;
  flex-direction: row;
  padding-left: 1em; 
  padding-right:  1em; 

  justify-content: space-between;

}
.articleNews:hover {
 background-color: #717171;
}
.articleNews.active {
  background-color: #717171;
  color: white;
}

.bgc{
  background-color: #717171;
}
/* Hide the pictures by default */
.mySlides {
  display: none;
  margin-top : 2em;
}

.slideImg {
  height: 65vh;
  z-index: 7;
  
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -25px;
  margin-left:1em;
  margin-right:1em;

  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev, .next {
  background-color: rgba(211, 200, 200, 0.192);
}
.prev:hover, .next:hover {
  background-color: rgba(211, 200, 200, 0.192);

}
.articleNews{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.6s ease;
  background-color: #fff;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: solid black 2px;
  min-height: 2.5em;
  z-index: 5;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/* ========================= Player========================= */ 

#audioplayer{
  width: 10em;
  height: 2em;
  margin: 50px auto auto auto;
border: solid;
}

#pButton{

  height:5em;
  width:5em;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.63);
  transition-duration: 0.5s;
  z-index: 2;
  border-radius:0.2em;
  border: solid black 2px;
}
.pButtonGroup{

  height:5em;
  width:5em;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  z-index: 2;
  border-radius:0.2em;
  border: solid black 2px;
}

#timeline{
  width: 11em;
  height: 1.2em;
  float: left;
  border :2px dotted;
}

.timelineGroup{
  width: 11em;
  height: 1.2em;
  margin-right:0.3em;
  margin-left:0.3em;
  
  border :2px dotted;
}
#playhead{
  width: 1em;
  height: 1em;
  background: rgb(255, 255, 255);

}
.playheadGroup{
  width: 1em;
  height: 1em;
 
  background: rgb(255, 255, 255);

}

.bButtonGroup{
 margin-right:0.2em;
 border: none;
 background-size: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: rgb(255, 255, 255);
 transition-duration: 0.5s;
 z-index: 2;
 border-radius:0.05em;
 border: solid black 2px;

}
.bButtonGroup>i {
  padding:0.1em;

   font-size:2.6em;
   
}

#bButton {
  padding:0.1em;
  margin-left:0.2em;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(248, 248, 248, 0.562);
  transition-duration: 0.5s;
  z-index: 2;
  border-radius:0.05em;
  border: solid black 2px;
  color: black;
  font-size:2.8em;
   
}


.radio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px dotted black;
  padding: 0.5em;
  background-color: #5a5c5a83;
}
.radio2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #5a5c5a83;
  position: absolute;
}









/* ========================= Artistes ========================= */ 

li>a{
text-decoration: none;
}

.bigger{
font-size: 2.3em;
padding-left:0.5em; 

}

#items-container {
position: relative;
overflow: hidden;
margin-bottom: -1em;
z-index: 5em;
} 

.containerArtist{
padding-top:0.5em;
padding-bottom:1em;
min-height: 75vh;
width: 100%; 
}
.groupeDescribe{
padding-left: 1em; 
padding-right: 1em;
padding-top:8em;
font-size:1.1em;
height: 80vh;
  text-align: justify;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
/* .groupeDescribe{
padding-top :0em;
padding-left: 1em; 
padding-right: 1em;
font-size:1.1em;
margin-top: -2em;
  
} */
.bordureArtist{
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  z-index: 16;
}

.backgroundArtist{
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

.transparent{
  text-align: justify;
  font-size: 1.05em;
  min-height: 50vh;
  width: 23em;
  padding: 1.5em;
  padding-top: 8em;
  border: solid black 2px;
  font-family: var(--fontText);
  
 
}



.position__left{
  margin-left : 1em;
  
}
.position__right{
  margin-left: 36.5em;
  
}

.up{
  margin-top: 1.3em;
}
.down{
  margin-top: 40em;
}

.black{
background-color: rgba(15, 15, 15, 0.637);
color: white;
}
.white  {
background-color: rgba(255, 255, 255, 0.493);
color : black;
}

.groupeName{
  position: absolute; /* ou absolute pour slide horizontal fixe */ 
  font-size: 8.5em;
  color:black;
  z-index: 3;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989993px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756803px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279416px 0px;
}

.groupeName--fixe{
  position: fixed;
}

.fontTitle{
  font-family: var(--fontTitle); 
}

.albumName{
  position: absolute;
  text-align: center;
  font-size: 4em;
  font-family: var(--fontTitle);
  align-content: center;
  transition-duration: 1s;
  padding-left:0.5em;
  padding-right:0.5em;
 
  
  
}

.album{
  margin-bottom: 0.2em;
  transition-duration: 1s;
}
.galleryAlbum{
  display: flex;
  flex-direction: column;
}

.album:hover{
  
background-color: rgba(255, 255, 255, 0.493);
  color: rgba(39, 37, 37, 0.938);
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  border-radius: 0.1em;
}

.album__up{
  margin-top :-4em;
}

.album__left{
  margin-left: 2em;
}

.album__right{
  margin-left: 8em; 
  margin-top: -2em;
}

.color-black{
  color : black
}
.color-gray{
  color : grey
}
.color-yellowgreen{
  color : yellowgreen
}

.color-white{
  color: white;
}


/* =================================================== CONCERTS ================================================*/ 

.tablink {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: var(--fontText);
  background-color: #fff;
 

 margin-right:2em;
 padding-right: 0.5em;
 padding-left: 0.5em;
 transition-duration : 0.2s;
 
}

.tablink:hover {
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;  
  border:2px solid black;

}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  height: 100%;
  margin-top:0.5em;
}

#News {background-color: rgba(255, 255, 255, 0);}

#defaultOpen{
  font-family: var(--fontTitle);
}

.sectionConcert{
  padding-left:1em;

}
.__concerts{
  width: 100%;
  flex-direction: row-reverse;
  margin-top : 2em;
}
.__title{
  position: sticky;
  top:1em;
  font-size : 2em;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 10;
  transition : 0.3s;
  font-family: var(--fontTitle);


}
.__titleEvent{
  font-size : 1.8em;
  padding-left:0.7em;
  font-weight: 100;
  text-transform: uppercase;
}

.__sticky {
  position: sticky;
  top: 1.5em;
  padding-top: 0.4em;
  z-index: 3;
  height: 1.7em;
}

#avenir{
text-transform: uppercase;
font-size: 1.3em;
background-color:rgba(134, 26, 26, 0);
text-transform: uppercase;
z-index: 5;
}

#passe{
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 1em;
  float: right;
  z-index: 10;

}


.ct{
  width: 15em;
  height: 15em;
}


.cardConcert{
 display: flex;
 flex:3;
 flex-direction: column;
  min-width: 20.4em;
  height:58vh;
  margin-right:1.1em;
  border: solid black 2px;
  z-index: 2;
}


.mainConcert{
  display: flex;
  flex-flow: row;
  min-height: 58vh;
  z-index: 15;
  margin-bottom:0em;
  
}
.mainConcertB{
  display: flex;
  flex-flow: row wrap;
  min-height: 52vh;
  z-index: 15;
  
}

.cardConcertB{
  display: flex;
  flex-direction: column;
   min-width: 20.01em;
   height:53vh;
   margin-right:1.1em;
   margin-bottom:1em;
   border: solid black 2px;
   z-index: 2;
 }

.eventConcert{
  color:rgb(255, 255, 255);
  padding: 0.5em;
  font-size: 1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration:1.2s;
}

.eventConcertB{
  color:rgb(255, 255, 255);
  padding: 0.5em;
  font-size: 1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration:1.2s;
}

.eventConcertB:hover{
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.699);
  padding-left: 0.5em;
  font-size: 1.1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration:1.2s;
  display: block;  
}

.eventConcert:hover{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.699);
  padding-left: 1em;
  font-size: 1.1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  display: block;  
}

.placeConcert{
  color:white;
  padding: 0.5em;
  font-size: 1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  transition-duration:1.2s;
  
}

.placeConcert:hover{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  flex:3;
  color: black;
  background-color: rgba(226, 218, 218, 0.699);
  padding-left: 1em;
  font-size: 1.1em;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  display: block;  

}
  
#aprop{
  font-family: var(--fontTitle);
  position : sticky;
  top:0.8em;
  padding-left:0.5em;
  font-size : 1.8em;
  padding-left:0.7em;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 10;

 
}

.fontawesome{
  font-size: 2.4em;
 
}

.fontawesome>i {
  margin-left:0.5em;
}

.gradient{

background: -moz-linear-gradient(top, rgba(94, 93, 93, 0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(94, 93, 93, 0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(94, 93, 93, 0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* ============================================= Concert P  ===================================== */





/* ============================================= A PROPOS ===================================== */

.marginApropos{
  border-left: black 2px solid;
  border-right: black 2px solid;

}

.apropos{
  text-align: justify;
  font-size: 1.1em;
  height: 78vh;
  width: 55%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(255, 255, 255, 0);
  margin-left:0em;
  padding-top: 3em;
  transition: 0.3s;
}
.resize{
  width: 30%;
}
#newsSubTitle{
  color : black;
  z-index: 2;
  font-family: var(--fontTitle);
  font-size:2em;
  text-transform: uppercase;
  margin-left:2em;
}
.social{
  display: flex;
  justify-content:left;
  padding-left: 0.85em;
  margin-top:4em;
}
.social i {
 justify-content: space-around;
  font-size:2.5em;
  padding-left:0.8em;
  color: black;
  padding: 0.15em;
  transition-duration: 0.5s;
  cursor: pointer;
}
.social i:hover{
  font-size: 2.7em;
  color:white;
}
.so{
  display: flex;
  justify-content:space-between;
  margin-top:2em;
  font-size: 2.8em;
  width: 3em;

}
  /* -----------------------------NEWSLETTER--------------------- */ 

#responsive{
  display: none;
}

.rgpd{
  width:15em;
  margin-top: 13em;
  text-align: justify;
  font-size: 0.9em;
}

#removeContact{
  display:none;
}
  .formulaire{
    position : absolute;
    height: 70vh;
    width:55%; 
    padding :2em 2em 2em 2em;
    background-color: rgba(62, 75, 37, 0.37);
    margin-left:1.7em;
    
    font-family: var(--fontTitle);
    /* margin-left: 1em; */
    margin-bottom: 10em;
    z-index:100;
    border: solid rgba(44, 61, 47, 0.829) 2px;
  }
  
  .color{
    color: black;
    font-size: 1.1em;
    height: 5em;
   
    /* font-family: 'KoHo', sans-serif;  */
  }
  #newsletter_save{
    color: black;
    font-size: 1em;
    margin-top : 1em;
    margin-left: 0.5em;
    font-family: var(--fontTitle);
    float:left;
  }

  

  .footer{
    position: relative;
    color: white;
    background-color: black;
    height:4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    bottom:0;
    z-index: 4;
  }

  #iconefooter{
        width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #iconefooter>i{
    align-items: center;

  }

 
  .update{
    height:50vh;
font-size: 0.9em;
  }
  
  /* --------------------------------------------------------Query ----------------------------------------------- */ 
   /* Responsive layout - makes a two column-layout instead of four columns */
   @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media screen and (max-width: 600px) {
  
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
  
      .topnav.responsive {
        position: relative;

      }
      .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;

      }
    } 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  
  }

  .loginContainer{
    padding-top:10vh;
    height: 50vh;
  }

  .connect{
    margin-top : 3em;
    margin-left: 3em;
  }





  /* */ 
   /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 2.3em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.3em;
  width: 2em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(26, 151, 47);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(229, 232, 235);
}

input:checked + .slider:before {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 0.3em;
}

.slider.round:before {
  border-radius: 50%;
} 

 
  


  