{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}
    <div class="main">
        {% if form is defined  %}
        <div class ="formulaire">
          <a class="navbar-brand" href="#">{{ title }}</a>
                {{form_start(form)}}
                {{ form_row(form.name)}}
                {{form_row(form.releaseat) }}
                {{form_row(form.picture) }}
                {{form_row(form.picturealt)}}
                {{form_end(form)}}
        </div>
        {% endif %}
        {% if albums is defined %}
            <section class="albums">
            {% for album in albums %}
            <section class="albumCOntainer">
                <div class="albumCard">
                    <h3> {{ album.name }}  </h3> 
                    <div class="bgialbum"></div>
                    <h4>{{ album.groupmusic.name }}</h4>
                    <h5> {{ album.releaseat|date('Y-d-m') }} </h5>
                <div class='optionAlbum'>
                  <div class=''></div>  <a href="{{path('update_album', {id:album.id})}}"> Modifier </a> 
                    <a href="{{path('del_album', {id:album.id})}}"> Supprimer </a>
                </div> 
                </div>
                <div class='pisteAlbum'>
                    {% for soundPosition in album.soundPositions %}
                        {{soundPosition.soundtrack.number }}
                        {{soundPosition.soundtrack.name}} 
                    {% endfor %}
                </div>
            </section>
                {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script> 
    var json = '{{json}}';
    var path = '{{path}}';
    console.log(json);
    path = path.replace(path, '/assets/pictures/'); 
    let cleanFiles = []
    var split = (json.split('&quot;,&quot'))
    split.forEach(function(i){
        let link = i.toString().replace('[&quot' && '&quot;]', '')
        let e = link.replace('[&quot;','')
        let j = e.replace(';','')
        cleanFiles.push(j.replace(';'+path, ''))
    })
    console.log(cleanFiles);
    backgrounds = document.getElementsByClassName('bgialbum')// Je récupère la class du background-image
    console.log(backgrounds)
    Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
    var i = 0; 
    Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
    var background = path+cleanFiles[i]

    
        i++; // J'incrémente la variable afin de parcourir le tableau d'pictures.
        e.style.backgroundSize = '100%'
        e.style.backgroundRepeat = "no-repeat"
        e.style.objectFit = 'fill'
        e.style.backgroundPosition ="center"
        e.style.backgroundImage = "url("+background+")";
        return e;
            // A chaque section de groupe (e) j'attribue son background.
    })  
</script>


{% endblock javascripts %}