<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2> Distotal Prod </h2>

<p> Nous vous remercions pour vos achats !  </p>

<h4> Récapitulatif de commande </h4>

<p> Le : {{ date }}</p>
<p> Montant total: {{ total }} {{ currency }} </p>
<p> Identifiant de commande : {{ id }}</p>

<table>
  <thead>
    <tr>
      <th> Product</th>
      <th> Price</th>
      <th> Devise </th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>  {{ product.name }} </td>
      <td> {{ product.price }} </td>
      <td> {{ product.currency }} </td>
      <td> {{ product.amount }} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p> Adresse de livraison :  </p>

{% for s in shipping %}
 {{ s.state }}
{{ s.city }}
{{ s.line1 }}
{{ s.postal_code }}
{{ s.country_code }}
{% endfor %}
    
Merci et à bientôt !  !

</body>
</html>


{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}