
{# templates/emails/registration.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <h3>Bienvenue chez Distotal Prod ! </h3>
        
        Pour confirmer votre compte : : <a href="{{ url }}"> cliquez ici. </a>.
        
        Merci !
        
        {# Makes an absolute URL to the /images/logo.png file #}
        {# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
    
</body>
</html>

