
{# templates/emails/update_email.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Distotal</title>
</head>
<body>
        <h1> DISTOTAL PROD </h1>
        <h3>Confirmation de votre nouvelle adresse e-mail </h3>
        
        <a href="{{ url }}"> Cliquez ici. </a>.
        
        Merci !
        
        {# Makes an absolute URL to the /images/logo.png file #}
        {# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
    
</body>
</html>
