{% extends 'adminbase.html.twig' %}
{% block title %} Distotal Prod | Campaign {% endblock %}

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}
<section class="mailchimpMain">
    {% if form is defined %}
        <section class="formulaire" class ="formulaire col-sm-3">
            <h2>{{ title }} </h2> 
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        </section>
    {% endif %}
    {% if lists is defined %}
        <section class="listCampaigns">
            <table>
                <thead>
                    <tr>
                        <th> Title </th>
                        <th> Subject </th>
                        <th> Type </th>
                        <th> Template </th>
                    </tr>
                </thead>
            </table>
            <tbody>
                    {% for campaign in listsC.campaigns %}
                    <tr>
                       <td>{{campaign.settings.title }}</td> 
                        <td>{{campaign.settings.subject_line}}</td>
                        <td> {{campaign.settings.preview_text}}</td>
                        <td>{{campaign.type}}</td>
                    </tr>
                    {% endfor %}    
            </tbody>
        </section>
        {% endif %}

        <section id="card-Template"> 
            {% for template in listsT.templates %}
            <div class="card mb-2">
                    <h3 class="card-header">{{template.name }}</h3>
                    <div class="card-body">
                      <h6 class="card-subtitle text-muted">{{template.type }}</h6>
                    </div>
                    <img style="height: 200px; display: block;" src="{{template.thumbnail }}" alt="{{template.name }}">
                    <div class="card-body">
                      <a href="#" class="card-link">{{template.category }}</a>
                      <a href="#" class="card-link"> <p>{{template.date_created }}</p></a>
                      <a href="#" class="card-link"> <p>{{template.date_edited }}</p></a>
                    </div>
                    <div>
                        <a href="" class="btn btn-outline-info btn-lg" type="button"></a>
                        <a href="" class="btn btn-outline-info btn-lg" type="button"></a>
                    </div>
            </div>
            {% endfor %}
         </section> 

{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}