{% extends 'adminbase.html.twig' %}

{% block title %} Distotal Prod | Campaign {% endblock %}

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}
<section class="mailchimpMain">
    {% if form is defined %}
        <section class="formulaire" class ="formulaire col-sm-5">
            <h2>{{ title }} </h2> 
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
            <a href="{{path('add_campaign_content')}}"> <button class="btn btn-outline-info btn-sm" type="button"> Add Content </button> </a> 
        </section>
    {% endif %}
    {% if lists is defined %}
        <section class="listCampaigns">
        {% for campaign in lists.campaigns %}
            {{campaign.type}}
            {{campaign.id}}
            {{campaign.emails_sent}}
            {{campaign.settings.title }}
            {# {{campaign.settings.subject_line}} #}
            {# {{campaign.settings.preview_text}} #}
            {# {{campaign.settings.from_name}} #}
            {# {{campaign.settings.template_id}} #}
            {# {{campaign.recipients.list_name}} #}
            {# {{campaign.create_time}} #}
            <a href="{{path('test_campaign', {id:campaign.id})}}" class="btn btn-outline-info btn-sm" type="button" type="button"> Mail Test </a>
            <a href="{{path('del_campaign', {id:campaign.id})}}" class="btn btn-outline-info btn-sm" type="button" type="button">Delete </a>
           
        {% endfor %}
        </section>
    {% endif %}
</section> 

{% endblock %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}