{% extends 'base.html.twig' %}

{% block title %}Hello MailChimpController!{% endblock %}

{% block body %}

{% if form is defined %}
<section class="form" class ="formulaire col-sm-4">
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
</section>

{% endif %}

{% endblock %}
