{% extends 'adminbase.html.twig' %}

{% block title %}Hello MailChimpController!{% endblock %}

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}

{% if form is defined %}
<section class="mailchimpMain">
    <section class="formulaire" class ="formulaire col-sm-4">
        <h2>{{ title }} </h2> 
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </section>
    <section class="listMembers">
        {% for member in lists.members %}
        {{member.merge_fields.FNAME}}
        {{member.merge_fields.LNAME}}
        {{member.email_address}}
        {{member.status}}
        {{member.timestamp_signup|date()}}
        {{member.id}}
        <a href="{{path('del_member', {id:member.email_address})}}"> <button class="btn btn-outline-info btn-sm" type="button"> Supprimer </button> </a> 
        {% endfor %}

        {# "id, email_address, unique_email_id, web_id, email_type, status, merge_fields, stats, ip_signup, timestamp_signup, ip_opt, timestamp_opt, member_rating, last_changed, language, vip, email_client, location, source, tags_count, tags, list_id, _links" does not exist. #}
    </section>
</section> 
{% endif %}

{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}