{% extends 'adminbase.html.twig' %}

{% block title %}Hello MailChimpController!{% endblock %}

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}

{% if form is defined %}
<section class="mailchimpMain">
    <section class ="formulaire col-sm-3">
       <h2>{{ title }} </h2> 
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        <a href="{{ path('maj_template')}}"> <button class="btn btn-outline-info btn-sm mr-2" type="button"> Maj </button> </a> 
    </section>
    <section class="section__templates" style="display: flex; flex-flow: row wrap;">
        
                {% for template in lists.templates %}
            <div class="col-sm-5 p-4 m-2" heigth="16em;" style="border: solid black  2px;">
                <h4> {{template.name }} </h4>
                <img class="thumbnail" width="100%" src="{{template.thumbnail }}" alt="thumbnail {{template.name}}">
             <div style="display:flex" class="mt-4">
                 <a href=""> <button class="btn btn-outline-info btn-sm"> Default Template  </button> </a>
        
            </div>
            </div>
                {% endfor %}
            </tbody>
        </table> 
</section> 
{% endif %}

{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}