{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('/assets/admin/css/bootstrap.min.css') }}"> 
<link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous"> 
  


{% endblock stylesheet %}

<div class="wrapperAdmin col-lg-10" >
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">DISTOTAL PROD</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarColor01">
                
                  <ul class="nav navbar-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle mr-3" data-toggle="dropdown" role="button" aria-expanded="false" >Manager <span class="caret"></span></a>
                          <ul class="dropdown-menu "  role="menu">
                          <li> <a class="dropdown-item" href="{{ path('add_artist')}}">Artiste(s)</a></li>
                          <li> <a class="dropdown-item" href="{{ path('add_instrument')}}">Instrument(s)</a></li> 
                          <li> <a class="dropdown-item" href="{{ path('add_soundtrack')}}">Piste</a></li> 
                          <li> <a class="dropdown-item" href="{{ path('add_play')}}"> Artistes -> Piste</a></li> 
                          <li> <a class="dropdown-item" href="{{ path('add_album')}}">Album(s) </a></li> 
                          <li> <a class="dropdown-item" href="{{ path('add_soundOptions')}}"> Piste -> Album(s)</a> </li> 
                          <li> <a class="dropdown-item" href="{{ path('add_groupe')}}">Groupes</a></li> 
                          <li> <a class="dropdown-item" href="{{ path('add_news')}}">Actualité</a></li>  
                          <li> <a class="dropdown-item" href="{{ path('add_concert')}}">Concert(s)</a> </li> 
                          <li> <a class="dropdown-item" href="{{ path('add_label')}}"> Label</a> </li>   
                          <li> <a class="dropdown-item" href="{{ path('add_font')}}"> Google Font </a> </li>   
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle mr-3" data-toggle="dropdown" role="button" aria-expanded="false">Shop <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a class="dropdown-item" href="{{ path('add_product')}}"> Produits </a></li>
                              <li><a class="dropdown-item" href="{{ path('add_category_product')}}"> Catégories </a></li> 
                              <li><a class="dropdown-item" href="{{ path('show_order')}}"> Commandes </a></li> 
                              <li><a class="dropdown-item" href="{{ path('show_archive')}}"> Archives </a></li> 
                          </ul>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle mr-3" data-toggle="dropdown" role="button" aria-expanded="false"> Mailing <span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                             <li> <a class="dropdown-item" href="{{ path('add_contact')}}"> Contact(s) </a></li>  
                             <li> <a class="dropdown-item" href="{{ path('add_campaign')}}"> Campagne(s) </a></li>  
                             <li> <a class="dropdown-item" href="{{ path('add_template')}}"> Template(s) </a></li>  
                          </ul>
                        </li>
                        <a href="{{ path('logout')}}"> Logout </a>
                      </ul>
                </div>
              </nav>

    

















































  
  {# <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Distotal Prod</a>
                  </div>
              
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manager <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                        <li> <a class="dropdown-item" href="{{ path('add_artist')}}">Artist(s)</a></li>
                        <li> <a class="dropdown-item" href="{{ path('add_instrument')}}">Instrument(s)</a></li> 
                        <li> <a class="dropdown-item" href="{{ path('add_soundtrack')}}">Soundtrack(s)</a></li> 
                        <li> <a class="dropdown-item" href="{{ path('add_play')}}"> Art//Sound</a></li> 
                        <li> <a class="dropdown-item" href="{{ path('add_album')}}">Album(s) </a></li> 
                        <li> <a class="dropdown-item" href="{{ path('add_soundOptions')}}"> Sound/Album</a> </li> 
                        <li> <a class="dropdown-item" href="{{ path('add_groupe')}}">Band(s)</a></li> 
                        <li> <a class="dropdown-item" href="{{ path('add_news')}}">News</a></li>  
                        <li> <a class="dropdown-item" href="{{ path('add_concert')}}">Concert(s)</a> </li> 
                        <li> <a class="dropdown-item" href="{{ path('add_label')}}"> Label</a> </li>   
                        </ul>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Manager <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="dropdown-item" href="{{ path('add_product')}}"> Product </a></li>
                            <li><a class="dropdown-item" href="{{ path('add_category_product')}}"> Category </a></li> 
                        </ul>
                      </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Link</a></li>
                    </ul>
                  </div>
                </div>
              </nav>








<nav>
  <a href="{{ path('panel_admin')}}">  
        <a href="#">Distotal Prod</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Manager </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
             
            </div>
        </li>
     
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> MailChimp  </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" href="{{ path('add_contact')}}"> List </a>
                <a class="dropdown-item" href="{{ path('add_campaign')}}"> Campaign </a>
                <a class="dropdown-item" href="{{ path('add_template')}}"> Template </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li>

        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Shop  </a>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" href="{{ path('add_product')}}"> Product </a>
                <a class="dropdown-item" href="{{ path('add_category_product')}}"> Category </a>
           
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <a   href="{{path('logout')}}" role="button" aria-haspopup="true" aria-expanded="false"> Logout  </a>
    </ul>
    </div>
</nav> #}

{% block body %}
{% endblock body %}
</div>


{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}
