<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if title is defined %}{{title}}{% else %} Title {% endif %} | DISTOTAL PROD
            {% endblock %}
        </title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/mediaQuery.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/aboutus.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/bg.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets/css/albums/style.css') }}"> 
        <link rel="stylesheet" href="{{ asset('/assets/css/shop.css') }}"> 
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Zilla+Slab&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        {% endblock %}
    </head>
    <body>
    <div class="bgUp">
    <section class="wrapper "> 
        {% block nav %}
        <nav class="topNavsticky">
            <div class="nav">
                <div class="topnav" id="myTopnav">
                    <div>
                        <a class="nav-link" class="active" href="{{path('home_index')}}">  
                             <svg id="title" viewbox="0 0 20 20"></svg>  </a>  
                    </div>
                    <a href="javascript:void(0);" class="icon" onclick="myBurger()">
                        <i class="fa fa-bars"></i>
                    </a>
                    <div class="alignNav">
                        <a href="artistes" class="smooth-scroll" data-slide="artistes"> Artistes </a>
                        <a href="concerts" class="smooth-scroll" data-slide="concerts"> Évênements </a>
                        <a href="apropos" class="smooth-scroll" data-slide="apropos"> A Propos </a>
                        <a href="newsletter" class="smooth-scroll" data-slide="newsletter"> Newsletter </a>
                        <a href="{{ path('find_all_albums')}}" id="navAlbums"> Albums </a>
                        <a href="{{path('shop')}}"> Shop </a>
                        
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}  
                        <a id="login" style="cursor:pointer;"> Mon compte  </a>    
                    {% endif %}
                    </div>
                </div>   
            </div>
        </nav>
        {% endblock nav %}
         
        {% block flash %}
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="container alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endblock %}

        {% block body %}
        
        {% endblock body %}

        <section class="footer">
                <div id="iconefooter">
                    <div id="mentions">
                    <a href="{{ path('politique')}}"> <h5>  Mentions Légales </h5> </a>
                    <h5> <a href="#"> Fiches Techniques </a> </h5>
                </div>
                <div class="fontawesome">
        {% block footer %}    
    
           
             
        {% endblock %}
        </div>
        <div>
         
            <h5> <a href="#"> Copyright - </a></h5>
        </div>
    </section>
    
    </section>
</div>
</div>




{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
</script>
  

<script>
    function myBurger() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
        x.style.flexDirection = "column"
      } else {
        x.className = "topnav";
        x.style.flexDirection = "row"
      }
    }
    </script>

<script>
        var bgUp = document.createElement('div')
        bgUp.setAttribute('class', 'rot4')
        var bg = document.getElementsByClassName('bgUp')
        bgUp.style.marginTop = "-140em"
        bgUp.style.zIndex = "-3"
        if(document.documentElement.clientWidth <= 600){
            bgUp.style.display ='none'

        }
        bg[0].insertAdjacentElement('afterEnd', bgUp)
        window.addEventListener('scroll', function(){
            var s = window.scrollY
            bgUp.style.transform = "rotate(" + s*0.1 + "deg)"
     })  

       
</script>

{% endblock javascripts %}    

</body>    
</html>