{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}

{% block body %}
<section class="main">
    {% if form is defined  %}
    <div class ="formulaire mt-3 col-sm-3">
            <a class="navbar-brand" href="#">{{ title }}</a>
            {{form_start(form)}}
            {{form_row(form.artist)}}
            {{form_row(form.instrument)}}
            {{form_row(form.soundtrack)}}
            {# <ul class="list-group" id="soundtracks" data-prototype="{{form_row(form.soundtracks.vars.prototype)|e('html_attr')}}">
                    {% for soundtrack in form.soundtracks %}
                         <li class="list-group-item d-flex justify-content-between align-items-center"> {{form.row(soundtrack)}} </li>
                    {% endfor %}
                </ul> #}
            {{form_end(form)}}
    </div>
    {% endif %}

    <div class="content col-sm-8">
            {% if  plays is defined %}
            <table  class="table" >
                <thead>
                    <tr>
                        <th>Artist</th>   
                        <th>Instrument</th>   
                        <th>Song</th>   
                       <th> Options</th>
                    </tr>
                </thead>
                {% for play in plays %}
                <tbody>
                    <tr> 
                        <td> 
                            {{ play.artist.name }} {{ play.artist.firstname }} <br>
                        </td>
                        <td> 
                            {{ play.instrument.name }}  <br>
                        </td>
                        <td> 
                            {{ play.soundtrack.name }}  <br>
                        </td>
                        <td> 
                            <a href="{{path('update_play', {id:play.id})}}"> 
                            <button class="btn btn-outline-info btn-sm" type="button"> Modifier </button> </a>
                            <a href="{{path('del_play', {id:play.id})}}" > <button class="btn btn-outline-danger btn-sm" type="button"> Supprimer </button> </a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endif %} 
        </div>
</section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
        var $addButtonStagiaire = $('<button type="button" class="btn btn-outline-primary btn-sm" class="add_collection_link">Ajouter un groupe </button>');
        var $delButton = $('<button type="button" class="btn btn-outline-danger btn-sm" class="del_collection_link">Supprimer</button>');
        //le premier élément li de la liste (celui qui contient le bouton 'ajouter')
        var $newLinkLiStagiaire = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').append($addButtonStagiaire);
        
        function generateDeleteButton($collection){
            var $btn = $delButton.clone();
            $btn.on("click", function(){//événement clic du bouton supprimer
                $(this).parent("li").remove();
                $collection.data('index', $collection.data('index')-1)
            })
            return $btn;
        }
        
        //fonction qui ajoute un nouveau champ li (en fonction de l'entry_type du collectionType) dans la collection
        function addStagiaireForm($stagiaire, $newLinkLiStagiaire) {
            
            //contenu du data attribute prototype qui contient le HTML d'un champ
            var newFormStagiaire = $stagiaire.data('prototype');
            //le nombre de champs déjà présents dans la collection
            var index = $stagiaire.data('index');
            //on remplace l'emplacement prévu pour l'id d'un champ par son index dans la collection
            newFormStagiaire = newFormStagiaire.replace(/__name__/g, index);
            //on modifie le data index de la collection par le nouveau nombre d'éléments
            $stagiaire.data('index', index+1);
        
            //on construit l'élément li avec le champ et le bouton supprimer
            var $newFormLiStagiaire = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').append(newFormStagiaire).append(generateDeleteButton($stagiaire));
            //on ajoute la nouvelle li au dessus de celle qui contient le bouton "ajouter"
            $newLinkLiStagiaire.before($newFormLiStagiaire);
        }
        
        //rendu de la collection au chargement de la page
        $(document).ready(function() {
        
            //on pointe la liste complete (le conteneur de la collection)
            var $stagiaires = $("ul#soundtracks");
            var $stagli = $("ul#soundtracks li")
        
            console.log($stagli)
        
             //pour chaque li déjà présente dans la collection (dans le cas d'une modification)
            $stagli.each(function(){
                //on génère et ajoute un bouton "supprimer"
                $(this).append(generateDeleteButton($stagiaires));
            })
            //on y ajoute le bouton ajouter (à la fin du contenu)
            $stagiaires.append($newLinkLiStagiaire);
            //le data index de la collection est égal au nombre de input à l'intérieur
            $stagiaires.data('index', $stagli.length);
        
            $addButtonStagiaire.on('click', function() { // au clic sur le bouton ajouter
        
                //on appelle la fonction qui ajoute un nouveau champ
                addStagiaireForm($stagiaires, $newLinkLiStagiaire);
            });
        console.log($stagiaires)
        });
        </script>
{% endblock javascripts %}