{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}
{% endblock stylesheet %}

{% block body %}
    <section class="main">
        {% if formconcert is defined %}
        <div class ="formulaire mt-1 col-sm-3">
                <a class="navbar-brand" href="#">{{ title }}</a>
                {{form_start(formconcert)}}
                {{form_row(formconcert.name)}} 
                {{form_row(formconcert.city)}}
                {{form_row(formconcert.place)}}
                {{form_row(formconcert.cp)}}
                {{form_row(formconcert.dateconcert)}}
                {{form_row(formconcert.picture)}}
                {{form_row(formconcert.picturealt)}}
                <ul class="list-group" id="groupes" data-prototype="{{form_row(formconcert.groupes.vars.prototype)|e('html_attr')}}">
                    {% for groupe in formconcert.groupes %}
                         <li class="list-group-item d-flex justify-content-between align-items-center"> {{form.row(groupe)}} </li>
                    {% endfor %}
                </ul>

                {{ form_end(formconcert) }}
        </div>
        {% endif %}
        <section class="concert col-sm-6">
            {% for concert in concerts %}
            <div class="card col-sm-6">
                    <h3 class="card-header"> {{ concert.name }} </h3>
                    <div class="card-body">
                        <h5 class="card-title"> Le : {{ concert.dateconcert|date('Y-d-m') }}</h5>
                        <h6 class="card-subtitle text-muted"> {{ concert.city }}</h6>
                        <p class="card-text"> {{ concert.place }}.</p>
                        <div style="height: 200px; width: 100%; display: block;" class="bgiconcert"> </div>
                        {% if concert.groupes is defined %}
                        <ul class="list-group list-group-flush">
                            {% for groupe in concert.groupes %}
                            <li class="list-group-item"> {{ groupe.name }} </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    <div class="card-body">
                            <span class="badge badge-danger" class="card-link"><a href="{{path('del_concert', {id:concert.id})}}"> Supprimer </a> </span>
                            <span class="badge badge-danger" class="card-link"><a href="{{path('update_concert', {id:concert.id})}}"> Modifier </a> </span>
                    </div>
                    </div>
            </div>
            {% endfor %}
        </section>
      

{% endblock body %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
var $addButtonStagiaire = $('<button type="button" class="btn btn-outline-primary btn-sm" class="add_collection_link">Ajouter un groupe </button>');
var $delButton = $('<button type="button" class="btn btn-outline-danger btn-sm" class="del_collection_link">Supprimer</button>');
//le premier élément li de la liste (celui qui contient le bouton 'ajouter')
var $newLinkLiStagiaire = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').append($addButtonStagiaire);

function generateDeleteButton($collection){
    var $btn = $delButton.clone();
    $btn.on("click", function(){//événement clic du bouton supprimer
        $(this).parent("li").remove();
        $collection.data('index', $collection.data('index')-1)
    })
    return $btn;
}

//fonction qui ajoute un nouveau champ li (en fonction de l'entry_type du collectionType) dans la collection
function addStagiaireForm($stagiaire, $newLinkLiStagiaire) {
    
    //contenu du data attribute prototype qui contient le HTML d'un champ
    var newFormStagiaire = $stagiaire.data('prototype');
    //le nombre de champs déjà présents dans la collection
    var index = $stagiaire.data('index');
    //on remplace l'emplacement prévu pour l'id d'un champ par son index dans la collection
    newFormStagiaire = newFormStagiaire.replace(/__name__/g, index);
    //on modifie le data index de la collection par le nouveau nombre d'éléments
    $stagiaire.data('index', index+1);

    //on construit l'élément li avec le champ et le bouton supprimer
    var $newFormLiStagiaire = $('<li class="list-group-item d-flex justify-content-between align-items-center"></li>').append(newFormStagiaire).append(generateDeleteButton($stagiaire));
    //on ajoute la nouvelle li au dessus de celle qui contient le bouton "ajouter"
    $newLinkLiStagiaire.before($newFormLiStagiaire);
}

//rendu de la collection au chargement de la page
$(document).ready(function() {

    //on pointe la liste complete (le conteneur de la collection)
    var $stagiaires = $("ul#groupes");
    var $stagli = $("ul#groupes li")

    console.log($stagli)

     //pour chaque li déjà présente dans la collection (dans le cas d'une modification)
    $stagli.each(function(){
        //on génère et ajoute un bouton "supprimer"
        $(this).append(generateDeleteButton($stagiaires));
    })
    //on y ajoute le bouton ajouter (à la fin du contenu)
    $stagiaires.append($newLinkLiStagiaire);
    //le data index de la collection est égal au nombre de input à l'intérieur
    $stagiaires.data('index', $stagli.length);

    $addButtonStagiaire.on('click', function() { // au clic sur le bouton ajouter

        //on appelle la fonction qui ajoute un nouveau champ
        addStagiaireForm($stagiaires, $newLinkLiStagiaire);
    });
console.log($stagiaires)
});
</script>
{{parent()}}

<script> 
        var json = '{{json}}';
        var path = '{{path}}';
        console.log(json);
        path = path.replace(path, '/assets/pictures/'); 
        let cleanFiles = []
        var split = (json.split('&quot;,&quot'))
        split.forEach(function(i){
            let link = i.toString().replace('[&quot' && '&quot;]', '')
            let e = link.replace('[&quot;','')
            let j = e.replace(';','')
            cleanFiles.push(j.replace(';'+path, ''))
        })
        console.log(cleanFiles);
        backgrounds = document.getElementsByClassName('bgiconcert')// Je récupère la class du background-image
        console.log(backgrounds)
        Tbackgrounds = Array.from(backgrounds); // Je convertis l'HTML Collection en tableau itérable en Javascript.
        var i = 0; 
        Tbackgrounds.forEach(function(e){ // Je boucle sur le tableau d'éléments htmls
        var background = path+cleanFiles[i]
    
        
            i++; // J'incrémente la variable afin de parcourir le tableau d'pictures.
            e.style.backgroundSize = '100%'
            e.style.backgroundRepeat = "no-repeat"
            e.style.objectFit = 'fill'
            e.style.backgroundPosition ="center"
            e.style.backgroundImage = "url("+background+")";
            return e;
                // A chaque section de groupe (e) j'attribue son background.
        })  
    </script>
{% endblock javascripts %}