{% extends 'adminbase.html.twig' %} 

{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}

{% block body %}
    <div class="main">
        {% if form is defined  %}
        <div class ="formulaire col-sm-4">
                <a class="navbar-brand" href="#">{{ title }}</a>
                {{form_start(form)}}
                {{form_row(form.name)}}
                {{form_row(form.firstname)}}
                {{form_row(form.birthday)}}
                {{form_end(form)}}
        </div>
        {% endif %}
        <div class="content col-lg ">
            {% if artists is defined %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Firstname</th>
                        <th>Birthday</th>
                        <th> Options </th> 
                    </tr>
                    </thead>
                {% for artiste in artists %}
                    <tbody>
                        <tr class="table">
                            <td> {{ artiste.name }} </td>
                            <td> {{ artiste.firstname}} </td>
                            <td> {{ artiste.birthday|date('Y-d-m') }}</td>
                            <td> <a href="{{path('update_artist', {id:artiste.id})}}"> <button class="btn btn-outline-info btn-sm" type="button"> Modifier </button> </a> 
                            </td>
                            <td>
                            <a href="{{path('del_art', {id:artiste.id})}}"> <button class="btn btn-outline-danger btn-sm" type="button"> Supprimer </button> </a> 
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock javascripts %}