{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}


{% block body %}
<section class="col-sm-13">
        <section >
            <table class="table table-hover">
                <thead>
                    <tr>
                   <th> Email </th>
                   <th> Unique Id </th>
                   <th> Product </th>
                   <th> Price </th>
                   <th> Total </th>
                   <th> Currency</th>
                   <th> Create At</th>
                   <th></th>
                 
                    </tr>
                </thead>
                <tbody>
                <tr>
                   {% for archive in archives %}
                  <td> {{ archive.email }} </td> 
                  <td> {{ archive.uniqueId }} </td> 
                  <td> 
                  {% for archive in archive.products %} 
                {{archive.name}} <br>
                {% endfor %} 
                  </td> 
                  <td> 
                  {% for archive in archive.products %} 
                {{archive.price}} <br>
                {% endfor %} 
                  </td> 
                  <td> 
                  {% for archive in archive. %} 
                {{archive.price}} <br>
                {% endfor %} 
                  </td> 
                  <td> {{ archive.price}} </td> 
                  <td> {{ archive.currency }} </td>    
                  <td> {{ archive.createat|date('Y-M-d H:i:s') }} </td>    
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock javascripts %}