{% extends 'base.html.twig' %}

{% block title %} DISTOTAL |  {% endblock %}
{% block stylesheet %}
{{ parent() }}
{% endblock stylesheet %}
<section class="wrapper __border" >
        <section class="shopContainer">
          <h1 class="__title  __sticky __wandb target" id="artistes" data-target="artistes"> DISTOTAL PROD | Facture </h1>

     
 


        </section>
</section>

{% block body %}
{% endblock %}