{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}


{% block body %}
    <section class="col-sm-13">
        <section >
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Payer Email</th>
                        <th> Tax </th>
                        <th> Produit(s) </th>
                        <th> Prix </th>
                        <th> Devise </th>
                        <th> Facture </th>
                        <th> Shipping / Archiver </th>
                    </tr>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                    <tr>
                       <td>{{commande.email}} </td>  
                       <td>
                        {% for shipInfo in commande.ship %}
                       {{shipInfo}} 
                        {% endfor %}
                     </td>
                     <td>
                       {% for product in commande.products %}
                        {% for p in product %}
                         {{p}} 
                        {% endfor %}
                        <br> 
                        {% endfor %}
                    </td>
                    <td>{{commande.price}} </td>  
                    <td>{{commande.currency}} </td>  
                    <td> <a href="#"> <button> Facture </button>  </a> </td>  
                    <td> <a href="{{path('archive_product', {id:commande.id})}}" > <button> Archiver </button>  </a> </td>  
                    
                    
                   
                   
                    </tr>
                       
                         </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <p style="font-size: 0.4em"> {{ message }} </p>
            </div>
            {% endfor %}  
            

        </section>

    </section>


{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>





{% endblock javascripts %}