{% extends 'adminbase.html.twig' %} 

{% block stylesheet %}
{{parent()}}    
    <link rel="stylesheet" href="{{ asset('/assets/admin/css/style.css') }}">
{% endblock stylesheet %}


{% block body %}
    <section class="section__shop">
        <section class="col-sm-3">
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        </section>
        <section>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th> Product</th>
                        <th> Describes</th>
                        <th> Quantity </th>
                        <th> Category </th>
                        <th> Options </th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                           <td>{{product.name}}
                               <hr>
                            <p> {{product.price}} Euros</p>   
                           </td>
                           <td>{{product.describes}}</td>
                           <td>{{product.qty}}</td>
                           <td>{{product.category.name}}</td>
                           <td> 
                               <a href="{{path('del_product', {id:product.id})}}" type="button"> Delete </a>
                               <a href="{{path('edit_product', {id:product.id})}}"  type="button"> Edit </a>
                         </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            

        </section>

    </section>


{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




{% endblock javascripts %}