{% extends 'adminbase.html.twig' %} 

{% block stylesheets %}
{{ parent() }}
<style>
    
</style>

{% endblock stylesheets %}

{% block body %}
    <div class="main">
        {% if form is defined  %}
        <div class ="formulaire col-sm-4">
                <a class="navbar-brand" href="#">{{ title }}</a>
                {{form_start(form)}}
                {{form_row(form.name)}}
                {{form_row(form.googleFontUrl)}}
                {{form_end(form)}}
        </div>
        {% endif %}
        <div class="content col-lg ">
            {% if fonts is defined %}
            <table class="table">
                <thead>
                    <tr>
                       <th> Name </th>
                        <th> URL </th>
                        <th> Css </th>
                    </tr>
                    </thead>
                {% for font in fonts %}
                    <tbody>
                        <tr class="table rowName"  data-css='{{font.css}}' data-url='{{font.googleFontUrl}}'>
                            <td class='Fname' data-css='{{font.css}}'> {{ font.name }}   </td>
                            <td> {{ font.googleFontUrl }} </td>
                            <td> {{ font.css }} </td>
                            <td>
                            <a href="{{path('del_font', {id:font.id})}}"> <button class="btn btn-outline-danger btn-sm" type="button"> Supprimer </button> </a> 
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
{{parent()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

    var tabUrl = []
    var titles = Array.from(document.getElementsByClassName('Fname'));
    let head = document.getElementsByTagName('head')
    var row = Array.from(document.getElementsByClassName('rowName'));

    row.forEach(function(e){
       var url = e.dataset.url
       var link = document.createElement('link')
       link.setAttribute('href', url)
       head[0].insertAdjacentElement('afterBegin', link)
    })

    row.forEach(function(e){
        titles.forEach(function(f){
            if(e.dataset.css == f.dataset.css){
                f.style.fontFamily = f.dataset.css
            }
        })

    })

</script>


{% endblock javascripts %}